.works-categories {
  position: relative;
}

.works-categories::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: 0;
  border-radius: 2px 2px 0 0;
  background-color: #fff;
  transition: all .45s ease-in-out;
}

.construcao-screen-tag::after {
  transform: translateX(140px);
  left: 0;
  width: 90px;
}

.manutencao-screen-tag::after {
  transform: translateX(408px);
  left: 0;
  width: 160px;
}

.montagem-screen-tag::after {
  transform: translateX(628px);
  left: 0;
  width: 88px;
}

.projetos-screen-tag::after {
  transform: translateX(770px);
  left: 0;
  width: 70px;
}

.reparos-screen-tag::after {
  transform: translateX(13px);
  left: 0;
  width: 70px;
}