<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci senha</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body id="bg-purple">
    <header class="header-navbar">
        <div class="header-components">
            <img src="images/icons/return.svg" alt="">
        </div>
    </header>
    <main class="screen-login contents-login">
        <div class="logo-extenso container">
            <img src="images/logo-extenso.svg" alt="">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="box-form">
            <fieldset class="form container">

            </fieldset>
            <div class="register">
                <span>Ainda não tem uma conta?<a>Cadastre-se</a></span>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>