<div class="categories">
    <h1>PRINCIPAIS CATEGORIAS</h1>
    <hr />
    <div class="categories-icons">
      <div class="icons-top">
        <div class="icon">
          <a href="/reparo"><img src="/images/icons/categorias/reparos.svg" alt="" /></a>
          <p>Reparos</p>
        </div>
        <div class="icon">
          <a href="/montagem"><img src="images/icons/categorias/montagem.svg" alt="" /></a>
          <p>Montagem</p>
        </div>
        <div class="icon">
          <a href="/pintura"><img src="images/icons/categorias/pintura.svg" alt="" /></a>
          <p>Pintura</p>
        </div>
      </div>
      <div class="icons-bottom">
        <div class="icon">
          <a href="/manutencao"><img src="images/icons/categorias/manutencao-eletrica.svg" alt="" /> </a>
          <p>Manutenção elétrica</p>
        </div>
        <div class="icon">
          <a href="/projetos"><img src="images/icons/categorias/projetos.svg" alt="" /></a>
          <p>Projetos</p>
        </div>
        <div class="icon">
          <a href="/construcao"><img src="images/icons/categorias/construcao.svg" alt="" /></a>
          <p>Construção</p></div>
        </div>
      </div>
    </div>
    <div class="btn">
      <button class="btn-home">Ver mais...</button>
    </div>
  </div>