<div class="categorias">
  <div class="row text-center text-purple-600 justify-content-center">
    <% categoria_servico.forEach(function(categoria_servico){ %>
      <div class="col-6 mb-3">
        <a href="/categorias-profissoes/<%= categoria_servico.cod_cat_servico %>"><img src="/images/icons/categorias/<%= categoria_servico.imagem_categoria %>" alt="icone <%= categoria_servico.nome_cat_servico %>" class="img-fluid"/></a>
        <p>
          <%= categoria_servico.nome_cat_servico %>
        </p>
      </div>
      <% }); %>
  </div>
</div>