<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seriço</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body class="bg-pink">
    <%- include("./../../components/menu/index.ejs") %>
    <main class="">
        <div class="profession-pic">
            <div class="box-transparent mask">
                <div class="close"><img src="images/icons/close.svg" alt=""></div>
            </div>
        </div>
        <div class="profession">
            <h1>Montagem</h1>
        </div>
        <div class="btn">
            <button class="btn-home">Solicitar serviço</button>
        </div>
        <div class="test"></div>
    </main>
</body>
</html>