<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body class="bg-pink">
    <%- include("./../../components/menu/index.ejs") %>
    <section>
        <div class="profession-pic">
            <div class="box-transparent mask">
                <div class="close"> <a href="javascript:void(0)" onClick="history.go(-1); return false;"><img src="images/icons/close.svg" alt=""></a></div>
            </div>
        </div>
    </section>
    <main class="services">
        <div class="profession">
            <h1>Montagem</h1>
        </div>
        <div class="btn">
            <button class="btn-servico">Solicitar serviço</button>
        </div>
        <hr>
        <div class="text">
            <h1>ESCOLHA SUA PROFISSIONAL<br>DESTAQUE</h1>
        </div>
        <div class="test"></div>
    </main>
    <script>
        const servico=document.getElementsByClassName("profession")[0];
        const topoMain=servico.offsetTop;

        window.onscroll=function(){
            fixarNoTopo();
        }

        function fixarNoTopo(){
            if(window.pageYOffset >= topoMain){
                servico.classList.add("fixed");
            }else{
                servico.classList.remove("fixed");
            }
        }
    </script>
</body>
</html>