<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>documento de capacitação</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>

<body class="bg-pink">
        <div class="header-navbar">
            <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components">
                <img src="images/icons/header/returnpurple.svg" alt="voltar">
            </a>
        </div>
    <div class="container">
        <div class="add">
            <div class="text-form">
                <h1>Adicione um documento de capacitação</h1>
            </div>
            <img class="add-pic" src="images/icons/form/capacitacao.svg" alt="">
            <form action="">
                <div class="input-margin">
                    <div class="input-cad">
                        <input type="text" placeholder="Atividade realizada">
                    </div>
                </div>
                <div class="input-margin">
                    <div class="input-cad">
                        <input type="date" placeholder="Data de Emissão do Certificado">
                    </div>
                </div>
                <div class="input-margin">
                    <div class="input-cad">
                        <input type="text" placeholder="Orgão emissor">
                    </div>
                </div>
                <div class="inf-cad">
                    <div class="anexar-img">
                        <span>Anexar imagem</span>
                    </div>
                    <p>Adicione uma imagem do seu certificado</p>
                </div>
                <button class="btn-cad bg-purplegradient">Cadastrar</button>
            </form>
        </div>
     </div>

</html>