<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>documento de capacitação</title>
</head>

<body class="bg-pink">
    <div>
        <div class="header-navbar">
            <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components">
                <img src="images/icons/returnpurple.svg" alt="voltar">
            </a>
            <div class="text-form">
                <h1>Adicione um documento de capacitação</h1>
            </div>
           <img src="images/icons/capacitacao.jpg" alt="">
            <form action="">
                <div class="input-margin">
                <label>Data de Emissão do Certificado</label>
            <div class="data">
                <input type="date">
            </div>
        </div>
        <div class="input-margin">
            <label>Código de validação do Certificado</label>
            <div class="código">
                <input type="text">
            </div>
        </div>
        <div class="input-margin">
            <label>Sua especialização</label>
            <div class="especializacao">
                <input type="text">
            </div>
        </div>
            <button>Cadastrar</button>
         </form>

</html>