<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificação</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body class="bg-pink">
    <div>
        <div class="header-navbar">
            <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components">
                <img src="images/icons/header/returnpurple.svg" alt="voltar">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="input-line">
            <span>Certificação 1</span>
            <img src="images/icons/setapurple.svg" alt="">
        </div>
        <hr>
        <div class="input-line">
            <span>Certificação 2</span>
            <img src="images/icons/setapurple.svg" alt="">
        </div>
        <hr>
        <div class="input-line">
            <span>Certificação 3</span>
            <img src="images/icons/setapurple.svg" alt="">
        </div>
        <hr>
        <div class="button-certificacao">
            <button class="bg-purplegradient btn-cad">Adicionar certificação</button>
        </div>
        <div class="finish">
            <button>Finalizar</button>
        </div>
    </div>
</body>
</html>