<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas Categorais</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>

<body class="bg-pink">
    <%- include("./../../components/menu/index.ejs") %>
    <%- include('./../../components/header/index') %>
    <section class="container">
        <h1 class="title">Todas as categorias</h1>
        <hr class="title">
    </section>
<div class="fake-menu"></div>
</body>

</html>