<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="edit">
        <div class="text-edit">
            <h1>Editar Perfil</h1>
            <img src="" alt="">
        </div>
        <hr>
        <div>
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div><span>Pintora</span></div>
        <div><span>+</span></div>
        <hr>
        <span>Biografia</span>
        <p>oi, eu sou a amanda</p>
        <h1>Principais Trabalhos</h1>
        <div class="box-edit">
            <div class="edit-work"><img src="" alt=""></div>
            <div class="edit-work"><img src="" alt=""></div>
            <div class="edit-work"><img src="" alt=""></div>
        </div>
        <h1>Licenças e certificações</h1>
        <div class="box-edit">
            <div class="edit-license"><img src="" alt=""></div>
            <div class="edit-license"><img src="" alt=""></div>
            <div class="edit-license"><img src="" alt=""></div>
        </div>
        <button class="button-edit">Salvar</button>
    </div>

</body>

</html>