<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colaboradoras Favoritas</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <%- include("./../../components/header/index.ejs") %>
        <%- include("./../../components/menu/index.ejs") %>
            <img class="img-displayed2" src="images/icons/logoroxo.jpg" alt="">
            <hr>
            </hr>
            <h2>COLABORADORAS FAVORITAS</h2>
            <p></p>
</body>

</html>