<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>By Women</title>
  <meta name="robots" content="index, follow">
  <meta name="description"
    content="A ByWomen é uma plataforma de agregação de serviços, desenvolvida para mulheres
   que precisam de serviços e para prestadora de serviços que necessitam de renda fixa ou adicional, 
   visando interligar essas duas pessoas e tornar o hambiente mais confortável para as duas partes.">
  <link rel="canonical" href="bywomen.com.br">
  <link rel="preload" href="../images/banners/proposito.jpg" as="image" />
  <link rel="preload" href="../images/banners/escolher-especialista.jpg" as="image" />
  <link rel="preload" href="../images/banners/ajuda.jpg" as="image" />
  <link rel="icon" href="/images/logo/logo-aba.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/global.css" />
  <link rel="stylesheet" href="css/home.css" />
  <link rel="stylesheet" href="css/menu.css" />
</head>

<body>
  <aside class="inf-bw d-none">
    <div class="contents-inf">
      <div class="slide-inf-img">
        <div class="image-inf1"></div>
        <div class="image-inf2"></div>
        <div class="image-inf3"></div>
      </div>
      <div class="mask-gradient">
        <div class="slide-inf">
          <div class="inf-text container">
            <p class="fonts-2">
              Oportunidades de trabalho e renda através de serviço autônomo
            </p>
            <p class="fonts-6">
              Se torne uma parceira e comece <br />quando quiser
            </p>
          </div>
          <div class="inf-text container">
            <p class="fonts-2">
              Consulte as categorias de serviço e escolha uma de nossas
              especialistas
            </p>
            <p class="fonts-6">
              Contrate agora uma de nossas <br />parceiras
            </p>
          </div>
          <div class="inf-text container">
            <p class="fonts-2">
              Temos como propósito ajudar você a encontrar o serviço desejado
              com praticidade e segurança!
            </p>
            <p class="fonts-6">
              Do seu jeito, da melhor forma e com <br />facilidade
            </p>
          </div>
        </div>
        <span class="fonts-6 text-center w-100 skip">Pular</span>
      </div>
      <div class="header-mask container">
        <div class="header-inf">
          <img src="/images/logo/logo-extenso.svg" alt="" />
          <a href="/login"><span>Entrar</span></a>
        </div>
      </div>
    </div>
    </div>
  </aside>
  <header class="bg-purplegradient">
    <div class="container py-2">
      <nav class="d-flex align-items-center justify-content-between">
        <div class="col-auto">
          <img src="/images/logo/logo.svg" alt="logo ByWomen" />
        </div>
        <div class="col-auto">
          <% if(session.autenticado===true){ %>
            <a href="/perfil">
              <img src="/images/icons/header/usuario.svg" alt="" />
            </a>
            <% }else if(session.autenticado !==true){ %>
              <a href="/login"><img src="/images/icons/header/usuario.svg" alt="" /></a>
              <% } %>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="bg-purplegradient">
      <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/banners/banner-home1.png" class="img-fluid w-100" alt="..." usemap="#image-map" />

            <map name="image-map">
              <area target="_self" alt="torne-se colaboradora" title="torne-se colaboradora" href="..."
                coords="20,137,165,195" shape="rect" />
            </map>
          </div>
          <div class="carousel-item active">
            <img src="/images/banners/banner-home2.png" class="img-fluid w-100" alt="..." />
          </div>
          <div class="carousel-item active">
            <img src="/images/banners/banner-home3.png" class="img-fluid w-100" alt="..." />
          </div>
        </div>
      </div>
      <div>
        <div class="container text-white pb-5">
          <div class="my-3">
            <form class="search-form" onsubmit="alert('Pesquisa');">
              <button type="submit" class="lupa">
                <img src="/images/icons/pesquisar-home.svg" alt="lupa barra de pesquisa" />
              </button>
              <input class="search text-white" type="text" aria-label="Search" />
            </form>
          </div>
          <div class="destaques-container text-center pb-5">
            <h1 class="fonts-1">
              Nossas parceiras <br />
              destaques
            </h1>

            <div class="slider slider-parceiras">
              <div class="mx-3 my-3" style="width: 115px">
                <img src="/images/colaboradoras-exemplos/colaboradora.png" alt="parceiras" class="mx-auto" />
              </div>
              <div class="mx-3 my-3" style="width: 115px">
                <img src="/images/colaboradoras-exemplos/colaboradora1.png" alt="parceiras" class="mx-auto" />
              </div>
              <div class="mx-3 my-3" style="width: 115px">
                <img src="/images/colaboradoras-exemplos/colaboradora2.png" alt="parceiras" class="mx-auto" />
              </div>
              <div class="mx-3 my-3" style="width: 115px">
                <img src="/images/colaboradoras-exemplos/colaboradora3.png" alt="parceiras" class="mx-auto" />
              </div>
              <div class="mx-3 my-3" style="width: 115px">
                <img src="/images/colaboradoras-exemplos/colaboradora4.png" alt="parceiras" class="mx-auto" />
              </div>
            </div>
            <div class="slider slider-for text-center">
              <div>
                <div>
                  <img src="" alt="" />
                </div>
                <div>
                  <h2 class="fonts-2">Roberta Andrade</h2>
                </div>
                <div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maecenas eget tellus ipsum. Curabitur blandit, turpis nec
                    interdum fringilla, nisl nibh egestas ipsum, in tempus
                    nisl enim ut quam. Integer gravida euismod velit, quis
                    consequat arcu aliquet ac. Sed tortor dui, condimentum eu.
                  </p>
                </div>
              </div>
              <div>
                <div>
                  <img src="" alt="" />
                </div>
                <div>
                  <h2 class="fonts-2">Matilde Lima</h2>
                </div>
                <div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maecenas eget tellus ipsum. Curabitur blandit, turpis nec
                    interdum fringilla, nisl nibh egestas ipsum, in tempus
                    nisl enim ut quam. Integer gravida euismod velit, quis
                    consequat arcu aliquet ac. Sed tortor dui, condimentum eu
                    cursus vitae, bibendum nec libero.
                  </p>
                </div>
              </div>
              <div>
                <div>
                  <img src="" alt="" />
                </div>
                <div>
                  <h2 class="fonts-2">Manuela Barros</h2>
                </div>
                <div>
                  <p>
                    Lorem ipsum dolor sit amet, blandit, turpis nec interdum
                    fringilla, nisl nibh egestas ipsum, in tempus nisl enim ut
                    quam. Integer gravida euismod velit, quis consequat arcu
                    aliquet ac. Sed tortor dui, condimentum eu cursus vitae,
                    bibendum nec libero.
                  </p>
                </div>
              </div>
              <div>
                <div>
                  <img src="" alt="" />
                </div>
                <div>
                  <h2 class="fonts-2">Fernanda Lopes</h2>
                </div>
                <div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maecenas eget tellus ipsum. Curabitur blandit, turpis nec
                    interdum fringilla, nisl nibh egestas ipsum, in tempus
                    nisl enim ut quam. Integer gravida euismod velit, quis
                    consequat arcu aliquet ac. Sed tortor dui, condimentum eu
                    cursus vitae, bibendum nec libero.
                  </p>
                </div>
              </div>
              <div>
                <div>
                  <img src="" alt="" />
                </div>
                <div>
                  <h2 class="fonts-2">Amanda Azevedo</h2>
                </div>
                <div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maecenas eget tellus ipsum. Curabitur Integer gravida
                    euismod velit, quis consequat arcu aliquet ac. Sed tortor
                    dui, condimentum eu cursus vitae, bibendum nec libero.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="/images/banners/home-wave-1.svg" alt="" class="img-fluid w-100" />
      </div>
    </div>
    <div class="text-center pb-5">
      <h2 class="fonts-1">Principais categorias</h2>
    </div>
    <div class="bg-purplegradient mt-md-5">
      <img src="/images/banners/home-wave-2.svg" alt="" class="img-fluid w-100" />
      <div class="container">
        <div class="categorias-container bg-white">
          <div class="categorias">
            <div class="row text-center text-purple-600">
              <div class="col-6 mb-3">
                <a href="/Reparos"><img src="/images/icons/categorias/reparos.svg" alt="icone serviços de reparos" /></a>
                <p>Reparos</p>
              </div>
              <div class="col-6 mb-3">
                <a href="/Montagens"><img src="images/icons/categorias/montagem.svg" alt="icone serviços de montagem" /></a>
                <p>Montagem</p>
              </div>
              <div class="col-6 mb-3">
                <a href="/pintura"><img src="images/icons/categorias/pintura.svg" alt="icone serviços de pintura" /></a>
                <p>Pintura</p>
              </div>
              <div class="col-6 mb-3">
                <a href="/Manutencao-eletrica"><img src="images/icons/categorias/manutencao-eletrica.svg" alt="icone serviços de manutenção eletrica" />
                </a>
                <p>Manutenção elétrica</p>
              </div>
              <div class="col-6 mb-3">
                <a href="/Projetos"><img src="images/icons/categorias/projetos.svg" alt="icone serviços de projetos" /></a>
                <p>Projetos</p>
              </div>
              <div class="col-6 mb-3">
                <a href="/Construcao"><img src="images/icons/categorias/construcao.svg" alt="icone serviços de construção" /></a>
                <p>Construção</p>
              </div>
            </div>
          </div>
        </div>
        <img src="/images/banners/categorias-bottom.svg" alt="" class="img-fluid w-100 mb-4" />
      </div>
    </div>
  </main>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script>
    $('.slide-inf-img').slick({
      dots: false,
      arrows: false,
      infinite: false,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      asNavFor: ".slide-inf",
    });
    $('.slide-inf').slick({
      dots: true,
      arrows: false,
      infinite: false,
      slidesToShow: 1,
      slidesToScroll: 1,
      fade: true,
      centerMode: true,
      asNavFor: ".slide-inf-img",
    });

    $(".slider-for").slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: ".slider-parceiras",
    });

    $(".slider-parceiras").slick({
      asNavFor: ".slider-for",
      arrows: false,
      speed: 300,
      autoplay: true,
      autoplaySpeed: 5000,
      focusOnSelect: true,
      centerMode: true,
      centerPadding: "60px",
      variableWidth: true,
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: "40px",
            slidesToShow: 3,
            variableWidth: false,
          },
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: "0px",
            slidesToShow: 1,
            variableWidth: true,
          },
        },
      ],
    });
  </script>
  <script>
    $(document).ready(function () {
      if (!window.localStorage.getItem("inf_bwArray")) {
        $("body").css("overflow-y", "hidden");
        $(".inf-bw").removeClass("d-none");
        $(".inf-bw").addClass("d-block");
      } else {
        $("body").css("overflow-y", "unset");
        $(".inf-bw").removeClass("d-block");
        $(".inf-bw").addClass("d-none");
      }

      var inf_bwArray = JSON.parse(localStorage.getItem('inf_bwArray') || '[]');
      $(".skip").click(function () {
        var hide_inf_bw = JSON.stringify({
          show: "no", timestamp: new Date().getTime()
        });
        inf_bwArray.push(hide_inf_bw);
        localStorage.setItem('inf_bwArray', JSON.stringify(inf_bwArray));

        $(".inf-bw").removeClass("d-block");
        $(".inf-bw").addClass("d-none");
        $("body").css("overflow-y", "unset");
      });
    });
  </script>
  <div class="fake-menu"></div>
  <%- include("./../../components/menu/index.ejs") %>
</body>

</html>