<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>By Women</title>

  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/style.css" />
  <!--
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet"
    crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" rel="stylesheet"
    crossorigin="anonymous" />
</head>

<body>
  <div>
    <header>
      <div class="navbar bg-purplegradient">
        <nav class="header-navbar">
          <div class="header-components">
            <img src="/images/logo/logo.svg" alt="" />
          </div>
          <div class="header-components">
            <a href=""><img src="/images/icons/header/lupa.svg" alt="" /></a>
            <a href="/login"><img src="/images/icons/header/usuario.svg" alt="" /></a>
          </div>
        </nav>
      </div>
    </header>
    <%- include("./../../components/menu/index.ejs") %>
      <main class="container">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/banners/torne-seColaboradora.png" class="carousel-itens" alt="..." usemap="#image-map" />

            <map name="image-map">
              <area target="_self" alt="torne-se colaboradora" title="torne-se colaboradora" href="..."
                coords="20,137,165,195" shape="rect" />
            </map>
            <!--Imagens Carrossel
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="..." />
          </div>
-->
          </div>
        </div>

        <div class="search-div">
          <form class="search-form">
            <input class="search" type="search" placeholder="O que você precisa?" aria-label="Search" />
            <button type="submit" id="lupa" onclick="alert('Está funcionando');"><img
                src="/images/icons/lupa-pesquisar.svg"></button>
          </form>
        </div>
        <div class="contributor">
          <h1 class="contributor-text">COLABORADORAS DESTAQUE</h1>
          <hr />
          <div class="owl-carousel owl-theme">
            <div class="item">
              <img src="/images/colaboradoras-exemplos/colaboradora.jpg" alt="" />
            </div>
            <div class="item">
              <img src="/images/colaboradoras-exemplos/colaboradora1.jpg" alt="" />
            </div>
            <div class="item">
              <img src="/images/colaboradoras-exemplos/colaboradora2.jpg" alt="" />
            </div>
            <div class="item">
              <img src="/images/colaboradoras-exemplos/colaboradora4.jpg" alt="" />
            </div>
            <div class="item">
              <img src="/images/colaboradoras-exemplos/colaboradora3.jpg" alt="" />
            </div>
            <div class="item">
              <img src="/images/colaboradoras-exemplos/colaboradora5.jpg" alt="" />
            </div>
            <div class="item">
              <img src="/images/colaboradoras-exemplos/colaboradora6.jpg" alt="" />
            </div>
            <div class="item">
              <img src="/images/colaboradoras-exemplos/colaboradora7.jpg" alt="" />
            </div>
          </div>
        </div>
        <%- include('./../../components/categories/index.ejs') %>
          <div class="who-we-are">
            <h1>O que é a ByWomen?</h1>
            <hr>
            <div>
              <p>
                A ByWoman tem como diferencial ajudar você, mulher, a encontrar o serviço desejado com praticidade e
                segurança! E para você colaboradora, um espaço mais abrangente, com oportunidade de ser autônoma e ter
                seu próprio
                reconhecimento!
              </p>
              <div class="bw">
                <div class="bw-icons">
                  <div class="bw-info">
                    <img src="images/icons/bw/cadeado.svg" alt="" />
                    <span>Segurança</span>
                  </div>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
                <div class="bw-icons">
                  <div class="bw-info">
                    <img src="images/icons/bw/mulheres.svg" alt="" />
                    <span>Por mulheres</span>
                  </div>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
                <div class="bw-icons">
                  <div class="bw-info">
                    <img src="images/icons/bw/casa.svg" alt="" />
                    <span>No seu lar</span>
                  </div>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
      </main>


      <script src="js/scripts.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <script>
        $(".owl-carousel").owlCarousel({
          loop: true,
          margin: 10,
          nav: false,
          responsive: {
            0: {
              items: 4,
            },
            600: {
              items: 6,
            },
          },
        });
      </script>
  </div>
</body>

</html>