<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços solicitados</title>
        <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/menu.css">
  <link rel="icon" href="/images/logo/logo-aba.svg"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css" />    <link rel="stylesheet" href="css/solicitados.css">
</head>
<body>
    <%- include("./../../components/header/index.ejs") %>
        <%- include("./../../components/menu/index.ejs") %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
            <section class="container">
                <div class="title">
                    <h1 class="name">Olá,<!-- Nome cliente --></h1>
                </div>
                <div class="box-solicitados">
                    <div class="services-request">
                        <h1>Nome cliente</h1>
                        <h2>Contato (Telefone ou Email)</h2>
                        <!--Mensagem cliente-->
                        <p>Mensagem</p>
                        <!--Prazo da necessidade-->
                        <p>Prazo</p>
                        <!--Data da solicitação-->
                        <p>Solicitado em dd/mm/aaaa</p>
                    </div>
                    <div class="btn-requests">
                        <button class="btn-services-requests-purple">Aceitar</button>
                        <button class="btn-services-requests">Recusar</button>
                    </div>
            </section>
            <section class="container">
                <div class="box-solicitados">
                    <div class="services-request">
                        <h1>Nome cliente</h1>
                        <h2>Contato (Telefone ou Email)</h2>
                        <!--Mensagem cliente-->
                        <p>Mensagem</p>
                        <!--Prazo da necessidade-->
                        <p>Prazo</p>
                        <!--Data da solicitação-->
                        <p>Solicitado em dd/mm/aaaa</p>
                    </div>
                    <div class="btn-requests">
                        <button class="btn-services-requests-purple">Aceitar</button>
                        <button class="btn-services-requests">Recusar</button>
                    </div>
         </section>
<div class="fake-menu"></div>
</body>

</html>