<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços solicitados</title>
</head>
<body>
    <%- include("./../../components/header/index.ejs") %>
        <%- include("./../../components/menu/index.ejs") %>
            <section class="container contents">
                <div class="title">
                    <h1 class="name"><!-- Nome cliente --></h1>
                </div>
                <div class="box">
                    <div class="services-request">
                        <h1>Nome cliente</h1>               
                        <h2>Contato (Telefone ou Email)</h2>                  
                        <input placeholder="Mensagem" type="text"></input>                  
                        <input placeholder="Prazo" type="date"></input>
                        <input placeholder="Soliticado em dd/mm/aaaa" type="date"></input>
                    </div>
                    <button>Aceitar</button>
                    <button>Recusar</button>
            </section>
            <section class="container contents">
                <div class="box">
                    <div class="services-request">
                        <h1>Nome cliente</h1>
                        <h2>Contato (Telefone ou Email)</h2>
                        <input placeholder="Mensagem" type="text"></input>
                        <input placeholder="Prazo" type="date"></input>
                        <input placeholder="Soliticado em dd/mm/aaaa" type="date"></input>
                    </div>
                    <button class="" >Aceitar</button>
                    <button class="">Recusar</button>
         </section>
</body>

</html>