<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>By Women - Crie seu perfil</title>
  <link rel="icon" href="/images/logo/logo-aba.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/global.css" />
  <link rel="stylesheet" href="css/cadastrocolaboradora.css" />
</head>

<body>
  <div class="container bg-pink">
    <div class="header-navbar">
      <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components">
        <img src="images/icons/header/returnpurple.svg" alt="voltar">
      </a>
    </div>
    <% if(colaboradora_autenticado === true){ %>
    <h1 class="text-center mt-5 fonts-2">Atualize seu perfil!</h1>
    <% }else{  %>
    <h1 class="text-center mt-5 fonts-2">Crie seu perfil!</h1>
    <p class="text-center mt-2">Complete todas as informações <br> para se tornar uma de nossas parceiras</p>
    <% } %>

    <% if(colaboradora_autenticado === true){ %>
    <form action="auth/atualizar-perfil-profissional" method="POST">
      <a href="/configuracao">
        <% }else{  %>
        <form action="auth/crie-perfil-profissional" method="POST">
          <a href="/fotoperfil">
            <% } %>
            <div href="" class="add-img-profile mx-auto my-4">
              <%if(usu_autenticado_foto !== null){%>
              <div class="profile-img mx-auto" id="profile-picture-img" style="background-image: url('data:image/jpeg;base64,<%= usu_autenticado_foto %>') ;">
                <div class="mask-profile-img"></div>
              </div>
              <%}else{%>
              <img src="/images/profile/perfil.png" alt="">
              <% } %>
              <div class="edit-img-profile">
                <% if(colaboradora_autenticado === true){ %>
                <img src="images/icons/header/settings.svg" alt="">
                <% }else{  %>
                <img src="images/icons/header/lapis.svg" alt="">
                <% } %>
              </div>
            </div>
          </a>

          <div class="mt-5 d-flex badges-contents justify-content-center">
            <a href="/selecioneProf" class="add-badge text-center"><span>+</span></a>
          </div>
          <hr class="mx-auto" style="width: 80%;">
          <div class="biography mt-5">
            <label for="">Biografia</label>
            <textarea oninput='if(this.scrollHeight > this.offsetHeight) this.rows += 1' name="descricao" id="descricao"><% if(colaboradora_autenticado === true){ %><%= usu_colaboradora_autenticado_descricao %><% }else{} %></textarea>
          </div>
          <div class="works mt-5">
            <label>Principais Trabalhos</label>
            <div class="your-class mt-3 d-flex">
              <a href="fotoservico" class="add-work bg-purple-500">
                <div class="add"><span class="text-white fonts-1">+</span></div>
              </a>
              <div class="add-work bg-white">
                <div class="mask-shadow"></div>
              </div>
            </div>
            <!-- carrossel -->
          </div>
          <div class="certificate mt-5">
            <label>Licenças e certificações</label>
            <!-- carrossel -->
            <div class="your-class mt-3 d-flex">
              <a href="/capacitacao" class="add-certificate bg-purple-500">
                <div class="add"><span class="text-white fonts-1">+</span></div>
              </a>
              <div class="add-certificate bg-white">
                <div class="mask-shadow"></div>
              </div>
            </div>
          </div>
          <button type="submit" class="bg-purplegradient">Salvar</button>
        </form>
  </div>
</body>

</html>