h1{
    margin: 0;
    font-weight: 400;
}

hr{
    width: 55px;
    height: 2px;
    opacity: 1;
    background-color: #3C096C;
    border: none;
    margin: 0;
}

.option-card{
    position: relative;
    margin: 40px 0;
}

span.cred, span.deb{
    cursor: pointer;
}

.option-card::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    border-radius: 2px 2px 0 0;
    background-color: #3C096C;
    transition: all .45s ease-in-out;
}

.option-deb::after{
    width: 45%;
    left: 0;
    transform: translate(10px);
}

.option-cred::after{
    width: 45%;
    left: 0;
    transform: translate(115%);
}

.card-cred{
    height: 230px;
    margin: 0 0 30px 0;
    background: rgb(149,22,255);
    background: linear-gradient(53deg, rgba(149,22,255,1) 0%, rgba(91,11,158,1) 50%, rgba(36,0,64,1) 100%);
    border-radius: 25px;
    box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.5);
    position: relative;
}

.inf-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inf-card label{
    text-align: start;
    width: 100%;
}

.inf-card input{
    width: 100%;
    border: #C5C5C5 0.5px solid;
    border-radius: 10px;
    height: 40px;
}

.date-cvv{
    display: flex;
}

.inf-card .date-cvv input{
    width: 95%;
}

input:focus{
    outline: none;
}

.name{
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 25px;
}

.number-card{
    color: #fff;
    position: absolute;
    bottom: 60px;
    left: 25px; 
}

.date{
    color: #fff;
    position: absolute;
    right: 25px;
    top: 15px; 
}

.circle{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 25px;
    top: 15px;
    background-color: #fff;
    opacity: 35%;
}

.second-circle{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 40px;
    top: 15px;
    background-color: #fff;
    opacity: 35%;
}

.save-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    width: 100%;
}

input[type = checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

#check-switch{
    cursor: pointer;
    width: 75px;
    height: 35px;
    background: grey;
    display: block;
    border-radius: 25px;
    position: relative;
}

#check-switch:after{
    content: "";
    position: absolute;
    top: 5px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 30px;
    transition:all 0.5s ease-in-out;
}

input:checked + #check-switch{
    background: #7b2cbf;
}

input:checked + #check-switch:after{
    left: calc(65% - 5px);
/*     transform: translate(-100%); */
    transition:all 0.5s ease-in-out;
}

#check-switch:active:after{
    width: 25px;
}

/*Metodo de pagamento*/

.text-pay{
    color: #3C096C;
}

.option, .option-2, .option-3{
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.5);
  }

  .banks{
    margin-left: 8px;
  }

  .checked{
    background-color: #3C096C;
    transition: all ease-in-out 0.2s;
  }

  input[type = "radio"]{
    display: none;
  }

  .value-pay{
    color: #3C096C;
  }

  @media (min-width: 380px) {
    .card-cred{
        height: 270px;
    }
  }

