

.box-config {
  background-color: #fff;
  max-width: 540px;
  margin-top: 30px;
}

input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #000;
  color: #00000080;
  transition: ease-in-out .3s;
}

 input:focus {
  outline: 0;
  color: #000;
}

#userImage{
  display: none;
}
.profile-picture-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  cursor: pointer;
}
.profile-picture-img {
  position: relative;
  width: 115px;
  height: 115px;
  border-radius: 100%;
  cursor: pointer;
  transition: background .3s;
}

.without-profile-picture{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.user-profile-picture{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}
.new-profile-picture{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  z-index: 2;
}
.new-profile-picture:hover, .without-profile-picture:hover{
  border: 5px solid rgb(180, 180, 180);
}

.change {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.box-config .contents-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.btn-config {
  background: transparent;
  color: #000;
  width: 100%;
  height: 43px;
  border: 3px solid;
  border-color: #240046;
  border-radius: 25px;
  font-size: 18px;
  max-width: 400px;
  margin-top: 50px;
  position: relative;
}
