/*Favoritos*/

.banner-favorite{
    width: 100%;
    max-width: 540px;
    margin-top: -40px;
  }
  
  .banner-favorite img{
    width: 100%;
  }
  
  .contents-favorite{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 0 10px 0 0;
    background-color: #240046;
  }

  hr{
    width: 55px;
    height: 2px;
    opacity: 1;
    background-color: #3C096C;
    border: none;
    margin: 0;
  }