#step2{
  display: none;
}

/*Tela login*/

.logo-extensive {
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-extensive img{
    width: 200px;
  }
  
  .box-form .form{
    width: 90vw;
    max-width: 325px;

  }
  
  .form {
    margin-top: 0;
    position: relative;
    padding: 15px 15px 30px 15px;
    background: rgba(255, 255, 255, 0.32);
    border: 0;
    border-radius: 30px;
  }
  
  .form form {
    max-width: 300px;
  }
  
  .form hr {
    width: auto;
    border: 1px solid;
    color: #fff;
    opacity: 1;
    margin: 0;
  }
  
  .form .title h1 {
    padding-top: 5px;
    padding-left: 15px;
    text-align: start;
    color: white;
    font-weight: 600;
  }
  
  .form .email input,
  .password input {
    width: 98%;
    height: 35px;
    border-style: solid;
    border-color: #fff;
    border-radius: 30px;
    background: none;
  }
  
  input {
    color: #fff;
    padding-left: 12px;
    font-size: 18px;
  }
  input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  input:focus-visible {
    outline: none;
  }
  
   .email {
    padding-top: 25px;
  }
  
   .password {
    padding-top: 30px;
  }
  
   .password .link {
    padding-top: 10px;
    padding-left: 10px;
    color: #fff;
    font-size: 12px;
  }
  
  .password a {
    text-decoration: underline;
    color: #fff;
  }
  
  .check {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 15px;
  }
  
  .check input {
    margin: 3px;
    width: 20px;
    height: 20px;
  }
  
  .check span {
    margin-top: 3px;
    font-size: 14px;
    color: #fff;
    font-weight: 100;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
  }
  
  .button a, .button button{
    width: 98%;
    height: 35px;
    border-radius: 30px;
    background-color: #3c096c;
    border: none;
    color: white !important;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .button:hover{
    color: white !important;
  }
  
  .register {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 14px;
  }
  
  .register a {
    text-decoration: underline;
    color: white;
  }
  
  .screen-login p {
    display: none;
  }
  
  /*Recuperar Senha*/
  
  .number-tel input {
    width: 98%;
    height: 35px;
    border-style: solid;
    border-color: #fff;
    border-radius: 30px;
    background: none;
    margin-top: 20px;
  }
  
  .or {
    font-size: 22px;
    color: #fff;
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
  }
  
  /*Cadastre-se*/
  
  .name-cad input {
    width: 98%;
    height: 35px;
    border-style: solid;
    border-color: #fff;
    border-radius: 30px;
    background: none;
    margin-top: 20px;
  }
  
  .log-into {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }
  
  .log-into a {
    text-decoration: underline;
    color: #fff;
  }
  
  .screen-login {
    position: relative;
    transform: translate(0, 25%);
  }
  