/*Perfil Cliente*/


.box-jobs {
  margin-top: 50px;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

.wallpaper {
  height: 175px;
}

.profile-image {
  position: relative;
}

.profile-picture-img {
  max-width: 200px;
  height: 200px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.border-profile-img {
  border: solid 6px #fff;
  border-radius: 100%;
}

.mask-profile-img {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg,
      transparent,
      #7B2CBF);
  opacity: .35;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.slide {
  max-width: 540px;
  overflow: hidden;
  margin-top: 150px;
  border-radius: 10px;
}

.banner {
  width: 100%;
}

.banner img {
  max-width: 540px;
  width: 100%;
  height: 100%;
  position: relative;
}

.button-banner {
  display: none;
}

#slide1:checked~.banners {
  margin-left: 0;
}

#slide2:checked~.banners {
  margin-left: -100%;
}

#slide3:checked~.banners {
  margin-left: -200%;
}

.bar:hover {
  background-color: #fff;
}

.banners {
  display: flex;
  width: 300%;
  height: 100%;
  transition: 0.6s;
}

.navigation {
  display: flex;
  justify-content: center;
  position: relative;
  top: -22px;
}

.bar {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.banner-bg {
  width: 70%;
  padding: 0 0 0 15px;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banners p,
.banner-bg img {
  font-size: 12px;
  margin-top: 10px;
}

.text-banner {
  display: flex;
}

.banner-bg p,
.banner-bg h1 {
  text-align: start;
  color: white;
}

.banner-bg h1 {
  margin-top: 0;
}

.banner-second-bg {
  width: 30%;
  padding: 20px 0 0 20px;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-third {
  width: 100%;
  height: 113px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.midia-banners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin-top: 5px;
}

.banner-third p,
.banner-third h1 {
  color: white;
}

.first-color {
  background-color: #240046;
}

.second-color {
  background-color: #9d4edd;
}

.third-color {
  background-color: #7b2cbf;
}

/*Perfil Colaboradora*/

.badges {
  width: 100%;
  max-width: 540px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 150px;
}

.badge {
  background-color: rgb(157, 78, 221, 0.35);
  padding: 6px;
  border-radius: 5px;
  color: #5a189a;
  font-size: 18px;
  width: auto;
  height: auto;
  transform: translate(0);
  font-weight: 400;
}

.profile-nav {
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

.profile-nav img {
  width: 45px;
  margin-bottom: 10px;
}

.description {
  position: relative;
  margin-top: 20px;
  word-wrap: break-word;
  word-break: break-word;
}

.description p {
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 30px;
  color: #000;
}

.description span {
  font-size: 16px;
  font-weight: 600;
}

.redes-profile {
  margin-top: 5px;
}

.redes-profile img {
  max-width: 30px;
}

.your-work {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  border-radius: 5px;
  position: relative;
}

.info-work {
  z-index: 2;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 10px 20px;
}

.info-work img{
  margin-left: 10px;
}

.info-work span {
  color: #fff;
}

.your-profile {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

.your-licenses::-webkit-scrollbar {
  display: none;
}

.your-licenses {
  width: 100%;
  height: 180px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  margin-top: 10px;
}

.or {
  text-align: center;
  overflow: hidden;
  position: relative;
}

.or:before,
.or:after {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 40%;
  height: 2px;
  position: relative;
  background-color: #240046;
}

.or:before {
  right: 0.5em;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: -50%;
  position: absolute;
}

.or:after {
  left: 0.5em;
  bottom: 50%;
  transform: translate(0, 50%);
  margin-right: -50%;
  position: absolute;
}

.text-edit {
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-edit img {
  position: relative;
  left: 90%;
}

.text-edit h1 {
  text-align: center;
}

.edit {
  background-color: #fff;
  width: 90vw;
  height: 100vh;
}

.edit h1 {
  text-align: center;
}

.box-edit {
  display: flex;
  gap: 5px;
}

.edit-work {
  background-color: #5a189a;
  width: 140px;
  height: 202px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
}

.edit-license {
  background-color: #5a189a;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.btn-edit {
  background-color: transparent;
  color: #000;
  width: 100%;
  height: 43px;
  border: 3px solid;
  border-color: #240046;
  border-radius: 25px;
  font-size: 18px;
  max-width: 400px;
  margin-top: 50px;
}

.btn-edit:hover {
  cursor: pointer;
  transition: 0.6 ease;
  background-color: #240046;
  color: #fff;
}

.your-work {
  position: relative;
}

.shadow-description.your-work:after {
  content: '';
  color: white;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 1) 100%);
}

.your-work:after {
  content: '';
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.7) 75%,
      rgba(0, 0, 0, 1) 100%);
  position: absolute;
  height: 30%;
  width: 100%;
  border-radius: 20px;
  bottom: 0;
  transition: all ease-in-out .3s;
}

.shadow-description.your-work .title-work,
.shadow-description.your-work .description-work{
  position: relative;
  z-index: 2;
  display: block;
  color: #fff;
  animation: animate-div .5s;
  overflow-wrap: break-word;
}

@keyframes animate-div {
  from { opacity: 0.6; margin-top: 410px;}
  to { opacity: 1;margin-top: 0px;}
}

.shadow-description.your-work .title-work{
  margin: 0 20px;
  top: 20px;
}

.shadow-description.your-work .description-work{
  margin: 0 20px;
  top: 50px;
}

.popup-image{
  background: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100vh;
  max-width: 540px;
  z-index: 5000;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inf-certificate{
  background-color: #fff;
  width: 90%;
  height: 70%;
  z-index: 5001;
  border-radius: 10px;
}

.certificate-popup{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  height: 80%;
  margin-top: 20px;
}

.close {
position: relative;
top: -8px;
left: -31px;
}

.close:before {
  content: "";
  width: 35px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  opacity: 1;
  transform: rotate(45deg);
}

.close:after {
  content: "";
  width: 35px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  opacity: 1;
  transform: rotate(-45deg);
}

.btn-add-inf{
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 45px;
  border: 3px solid;
  border-color: #240046;
  border-radius: 25px;
  position: relative;
  margin: 20px 0;
}

.btn-add-inf a{
  font-size: 18px;
  color: #000;
  text-decoration-style: none;
}

.shadow-description.your-work .info-work{
  display: none;
}

.your-work .title-work, .your-work .description-work{
  display: none;
  transition: all ease-in-out .5s;
}

.course {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.name-course{
  font-size: 24px;
  font-weight: 600;
  width: 80%;
}

.add-certificate {
  width: 200px;
  height: 130px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 15px 0 0;
}

.mask-shadow{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.40453074433656955) 0%,
  rgba(119, 118, 118, 0.2038834951456311) 50%,
  rgba(0, 0, 0, 0.2508090614886731) 68%,
  rgba(0, 0, 0, 0.8) 100%);
height: 100%;
width: 100%;
border-radius: 20px;
}