/*Perfil Cliente*/

.favorite {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .box-jobs {
    margin-top: 50px;
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
  
  .jobs-contract {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .wallpaper {
    height: 175px;
  }
  
  .profile-image {
    position: relative;
  }
  
  .slide {
    max-width: 540px;
    overflow: hidden;
    margin-top: 150px;
    border-radius: 10px;
  }
  
.banner{
  width: 100%;
}

  .banner img{
    max-width: 540px;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .button-banner {
    display: none;
  }
  
  #slide1:checked ~ .banners {
    margin-left: 0;
  }
  
  #slide2:checked ~ .banners {
    margin-left: -100%;
  }
  
  #slide3:checked ~ .banners {
    margin-left: -200%;
  }
  
  .bar:hover {
    background-color: #fff;
  }
  
  .banners {
    display: flex;
    width: 300%;
    height: 100%;
    transition: 0.6s;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    position: relative;
    top: -22px;
  }
  
  .bar {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .banner-bg {
    width: 70%;
    padding: 0 0 0 15px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .banners p,
  .banner-bg img {
    font-size: 12px;
    margin-top: 10px;
  }
  
  .text-banner {
    display: flex;
  }
  
  .banner-bg p,
  .banner-bg h1 {
    text-align: start;
    color: white;
  }
  
  .banner-bg h1 {
    margin-top: 0;
  }
  
  .banner-second-bg {
    width: 30%;
    padding: 20px 0 0 20px;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner-third {
    width: 100%;
    height: 113px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .midia-banners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    margin-top: 5px;
  }
  
  .banner-third p,
  .banner-third h1 {
    color: white;
  }
  
  .first-color {
    background-color: #240046;
  }
  
  .second-color {
    background-color: #9d4edd;
  }
  
  .third-color {
    background-color: #7b2cbf;
  }

  /*Perfil Colaboradora*/

.badges{
  width: 100%;
  max-width: 540px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 150px;
}

.badge{
  background: #9d4edd;
  color: #3c096c;
  padding: 5px;
  border-radius: 5px;
  min-width: 90px;
  height: 26px;
  text-align: center;
}

.profile-nav{
  box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.5);
  border-radius: 7px;
}

.description{
  position: relative;
  margin-top: 20px;
}

.description p{
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 30px;
  color: #000;
}

.description span{
  font-size: 16px;
  font-weight: 600;
}

.redes-profile{
  margin-top: 5px;
}

.redes-profile img{
  max-width: 30px;
}

.your-work{
  background-image: url("/images/trabalho.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.5);
  border-radius: 5px;
  position: relative;
}

.info-work{
  position: relative;
  top: 92%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.info-work span{
  color: #fff;
}

.info-work img{
  margin: 5px;
}

.your-profile {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}
.your-licenses::-webkit-scrollbar{
  display: none;
}

.your-licenses{
  width: 100%;
  height: 180px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  margin-top: 30px;
}

.box-licenses{
  display: flex;
  width: 500px;
  height: 100%;
  transition: 0.6s; 
  touch-action: manipulation;
  gap: 10px;
}

.license{
  height: 150px;
  width: 150px;
  background-color: #3c096c;
  border-radius: 15px;
}

.text-edit{
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-edit img{
  position: relative;
  left: 90%;
}

.text-edit h1{
  text-align: center;
}

.edit{
  background-color: #fff;
  width: 90vw;
  height: 100vh;
}

.edit h1{
  text-align: center;
}

.box-edit{
  display: flex;
  gap: 5px;
}

.edit-work{
  background-color: #5A189A;
  width: 140px;
  height: 202px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
}

.edit-license{
  background-color: #5A189A;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.btn-edit{
  background-color: transparent;
  color: #000;
  width: 100%;
  height: 43px;
  border: 3px solid;
  border-color: #240046;
  border-radius: 25px;
  font-size: 18px;
  max-width: 400px;
  margin-top: 50px;
}

.btn-edit:hover{
  cursor: pointer;
  transition: 0.6 ease;
  background-color: #240046;
  color: #fff;
}

  