* {
  box-sizing: border-box;
}

.bg-purple{
  background: rgb(199, 125, 255);
  background: -moz-linear-gradient(
      81deg,
      rgba(199, 125, 255, 1) -4%,
      rgba(157, 78, 221, 1) 11%,
      rgba(123, 44, 191, 1) 26%,
      rgba(90, 24, 154, 1) 55%,
      rgba(60, 9, 108, 1) 75%,
      rgba(36, 0, 70, 1) 105%
  );
  background: -webkit-linear-gradient(
      81deg,
      rgba(199, 125, 255, 1) -4%,
      rgba(157, 78, 221, 1) 11%,
      rgba(123, 44, 191, 1) 26%,
      rgba(90, 24, 154, 1) 55%,
      rgba(60, 9, 108, 1) 75%,
      rgba(36, 0, 70, 1) 105%
  );
  background: linear-gradient(
      to top,
      rgba(199, 125, 255, 1) -4%,
      rgba(157, 78, 221, 1) 11%,
      rgba(123, 44, 191, 1) 26%,
      rgba(90, 24, 154, 1) 55%,
      rgba(60, 9, 108, 1) 75%,
      rgba(36, 0, 70, 1) 105%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c77dff",endColorstr="#240046",GradientType=1);
}
.mask{
  background: rgb(199, 125, 255);
  background: -moz-linear-gradient(
      81deg,
      rgba(199, 125, 255, .2) -4%,
      rgba(157, 78, 221, .5) 11%,
      rgba(123, 44, 191, .6) 26%,
      rgba(90, 24, 154, 1) 55%,
      rgba(60, 9, 108, 1) 75%,
      rgba(36, 0, 70, 1) 105%
  );
  background: -webkit-linear-gradient(
      81deg,
      rgba(199, 125, 255, 1) -4%,
      rgba(157, 78, 221, 1) 11%,
      rgba(123, 44, 191, 1) 26%,
      rgba(90, 24, 154, 1) 55%,
      rgba(60, 9, 108, 1) 75%,
      rgba(36, 0, 70, 1) 105%
  );
  background: linear-gradient(
      to top,
      rgba(199, 125, 255, 0.1) -4%,
      rgba(157, 78, 221, 0.1) 11%,
      rgba(123, 44, 191, .4) 26%,
      rgba(90, 24, 154, 1) 55%,
      rgba(60, 9, 108, 1) 75%,
      rgba(36, 0, 70, 1) 105%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c77dff",endColorstr="#240046",GradientType=1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 68px;
}

a{
  text-decoration: none;
}

.menu{
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  max-width: 768px;
  width: 100%;
  margin-top: 0;
  border-radius: 10px 10px 0 0;
}

.menu-itens{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5% 0 5%;
  padding: 5px 0 10px 0;
}

.header-navbar{
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}

.header-components{
  display: flex;
  align-items: center;
}

.header-components span{
  margin-right: 10px;
}

.container{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 55px;
}

.bg-purplegradient {
  background: rgb(199, 125, 255);
  background: -moz-linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  background: -webkit-linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  background: linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c77dff",endColorstr="#240046",GradientType=1);
}

.bg-pink{
  background-color: #F5E8FF;
}

/*Home*/

.header-components img{
  padding: 8px 0 8px 0;
}

.carousel-inner{
  position: relative;
}

.carousel-itens{
  display: block;
  width: 100vw;
}

.carousel-indicators{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}

.carousel-indicators button{
  width: 40px;
}

.nav-bottom {
  z-index: 100;
  height: 75px;
  border-radius: 10px 10px 0 0;
}

.search-div {
  display: flex;
  height: 100px;
  background-color: #f9f2ff;
  align-items: center;
  width: 100vw;  
}

.search-form{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;  
}

input.search{
  display: block;
  border: 2px solid #3c096c;
  border-radius: 28px;
  background-color: transparent;
  width: 85%;
  height: 40px;
  padding: 0.375rem 0.75rem;
}

input.search::placeholder {
  position: absolute;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #3c096c;
  text-align: left;
  bottom: 8px;
}

#lupa {
  width: 33px;
  background: #0000;
  border: none;
  cursor: pointer;
  margin: 8px;
  padding: 0;
  transition: all .1s ease-in;
}

.colaboradoras{
  background: #fff;
  margin-top: 68px;
  width: 90%;
}

h1{
  text-align: center;
  color: #240046;
  font-size: 24px;
}

.item{
  position: relative;
}

.owl-carousel{
  max-width: 90%;
  left: 50%;
  transform: translate(-50%); 
}

.categories{
  width: 90%;
  background-color: #fff;
}

.icons-top{
  margin-top: 34px;
  display: flex;
  justify-content: space-around;
}

.icons-bottom{
  margin-top: 17px;
  display: flex;
  justify-content: space-around;  
}

.icon{
  flex: 1;
  max-width: 160px;
  min-width: 85px;
  text-align: center;
  margin: 2px;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 768px;
}

.btn-home {
  background-color: transparent;
  color: #000;
  width: 80%;
  height: 43px;
  border: 3px solid;
  border-color: #240046;
  border-radius: 25px;
  margin-top: 52px;
  font-size: 18px;
}

.btn-home:hover{
  background-color: #240046;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

p{
  text-align: center;
  font-size: 18px;
  color: #240046;
}

.bw{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bw span{
  font-size: 20px;
  color: #240046;
  text-align: center;
  font-weight: 600;
}

.bw-icons{
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bw-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bw-icons img{
  width: 106px;
  height: 106px;
}

/*Tela de Login*/

#bg-purple {
  width: 100vw;
  height: 105vh;
  background: rgb(199, 125, 255);
  background: -moz-linear-gradient(
      81deg,
      rgba(199, 125, 255, 1) -4%,
      rgba(157, 78, 221, 1) 11%,
      rgba(123, 44, 191, 1) 26%,
      rgba(90, 24, 154, 1) 55%,
      rgba(60, 9, 108, 1) 75%,
      rgba(36, 0, 70, 1) 105%
  );
  background: -webkit-linear-gradient(
      81deg,
      rgba(199, 125, 255, 1) -4%,
      rgba(157, 78, 221, 1) 11%,
      rgba(123, 44, 191, 1) 26%,
      rgba(90, 24, 154, 1) 55%,
      rgba(60, 9, 108, 1) 75%,
      rgba(36, 0, 70, 1) 105%
  );
  background: linear-gradient(
      to top,
      rgba(199, 125, 255, 1) -4%,
      rgba(157, 78, 221, 1) 11%,
      rgba(123, 44, 191, 1) 26%,
      rgba(90, 24, 154, 1) 55%,
      rgba(60, 9, 108, 1) 75%,
      rgba(36, 0, 70, 1) 105%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c77dff",endColorstr="#240046",GradientType=1);
}

.logo-extenso{
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset{
  margin-top: 30px;
  height: 365px;
  background: rgba(255, 255, 255, 0.32);
  border: 0;
  border-radius: 30px;
}

.form{
  margin-top: 0;
}

fieldset form{
  margin: 15px;
}

fieldset form .title h1{
  padding-top: 5px;
  padding-left: 15px;
  text-align: start;
  color: white;
  font-size: 26px;
}

fieldset form .email input, .password input{
  width: 98%;
  height: 35px;
  border-style: solid;
  border-color: white;
  border-radius: 30px;
  background: none;
}

input::placeholder{
  color: white;
  padding-left: 10px;
  font-size: 18px;
}

fieldset form .email{
  padding-top: 25px;
}

fieldset form .password{
  padding-top: 30px;
}

fieldset form .password .link {
  padding-top: 10px;
  padding-left: 10px;
  color: white;
  font-size: 12px;
}

fieldset form .password a{
  text-decoration: underline;
  color: white;
}

.check{
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-top: 15px;
}

.check input{
  margin: 3px;
  width: 20px;
  height: 20px;
}

.check span{
  margin-top: 3px;
  font-size: 14px;
  color: white;
  font-weight: 100;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.button button{
  width: 98%;
  height: 35px;
  border-radius: 30px;
  background-color: #3c096c;
  border: none;
  color: white;
  font-size: 18px;
}

.register{
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
}

.register a{
  text-decoration: underline;
  color: white;
}

.screen-login p{
  display: none;
}

/*Pedidos de serviços*/

h1.name{
  margin: 40px 0 0 0;
  text-align: start;
}
h2{
  margin-top: 20px;
  color: #240046;
}

.box{
  -webkit-box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.6); 
  box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.6);
  border: none;
  border-radius: 10px;
}

.box1, .box2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0;
  height: 257px;
  padding: 25px 0 25px 0;
}

.box{
  margin-top: 50px;
}

.requests{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-top: 10px;
}

.box1 span, .box2 span{
  color: #3C096C;
  font-size: 16px;
}

.contents-box{
  margin-left: 5%;
  margin-right: 5%;
}

/*PerfilCliente*/

.favorite{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-jobs{
  margin-top: 100px;
}

.jobs-contract{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wallpaper{
  height: 175px;
}

.profile-image img{
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.slide{
  max-width: 768px;
  height: 113px;
  overflow: hidden;
}

.banner-1, .banner-2, .banner3{
  display: flex;
}

.banner{
  max-width: 768px;
  width: 34%;
  position: relative;
}

.button-banner{
  display: none;
}

#slide1:checked ~ .banners{
  margin-left: 0;
}

#slide2:checked ~ .banners{
  margin-left: -100%;
}

#slide3:checked ~ .banners{
  margin-left: -200%;
}

.bar:hover{
  background-color: white;
}

.banners{
  display: flex;
  width: 300%;
  height: 100%;
  transition: .6s;
}

.navigation{
  display: flex;
  justify-content: center;
  position: relative;
  top: -22px;
  left: 50%;
  transform: translate(-50%);
}

.bar{
  width: 10px;
  height: 10px;
  border: 2px solid white;
  margin: 6px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.banner-bg{
  width: 70%;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banners p, .banner-bg img {
  font-size: 12px;
  margin-top: 10px;
}

.text-banner{
  display: flex;
}

.banner-bg p, .banner-bg  h1{
  text-align: start;
  color: white;
}

.banner-bg h1{
  margin-top: 0;
}

.banner-second-bg{
  width: 30%;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-third{
  width: 100%;
  height: 113px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.midia-banners{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin-top: 5px;
}

.banner-third p, .banner-third h1{
  color: white;
}

.first-color{
  background-color: #240046;
}

.second-color{
  background-color: #9D4EDD;
}

.third-color{
  background-color: #7B2CBF;
}

/*Menu*/

.input span{
  font-size: 22px;
  color: #240046
}

.input hr{
  margin: 10px 0 20px 0;
}

.input h1{
  text-align: start;
  color: #240046;
  font-size: 24px;
}

.redes{
  margin-left: 0;
  margin-top: 30px;
}

.input-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  cursor: pointer
}

/*Configurações*/

.profile-picture{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.box-config{
  background-color: #fff;
  width: 100vw;
  max-width: 768px;
  margin-top: 30px;
}

.box-config form input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #000;
}

.box-config form input:focus{
  outline: 0;
}

.change{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.box-config .contents-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.btn-config {
  background-color: #ffff;
  color: #000;
  width: 100%;
  height: 43px;
  border: 3px solid;
  border-color: #240046;
  border-radius: 25px;
  font-size: 18px;
  max-width: 600px;
}

/*Planos*/

.service-plans h1{
  font-size: 24px;
}

h1.container{
  margin-right: 0;
  text-align: start;
  font-size: 24px;
}

.box-plans{
  display: flex;
  max-width: 835px;
  width: 210%;
  height: 100%;
  transition: .6s;
  margin-top: 30px;
  touch-action: manipulation; 
}

.service-plans{
  margin-left: 3%;
  overflow: auto;
}

.plan{
  max-width: 275px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 10px 10px 5px;
  -webkit-box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.6); 
  box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.6);
  border: none;
  border-radius: 10px;
  width: 33%;
  position: relative;
}

.plan .value{
  font-size: 64px;
}

.plan span{
  color: #240046;
}

.btn-plan-purple{
  background-color: #ffff;
  color: #000;
  width: 50%;
  height: 35px;
  border-radius: 25px;
  font-size: 18px;
  border: none;
}

.btn-plan{
  background-color: #240046;
  color: #fff;
  width: 50%;
  height: 35px;
  border-radius: 25px;
  font-size: 18px;
  border: none;
}

.btn-plan:hover{
  cursor: pointer;
  transition: .6 ease;
  background-color: #3C096C;
}

.btn-plan-purple:hover{
  cursor: pointer;
  transition: .6 ease;
  background-color: #240046;
  color: #fff;
}

.white{
  color: white;
}

.white span{
  color: white;
}

.price span.value-components{
  margin-top: 10px;
  font-size: 28px;
}

.price span{
  float: left;
}

.plan-1 h1, .plan-1 p,.plan-2 h1, .plan-2 p,.plan-3 h1, .plan-3 p{
  text-align: start;
  margin-top: 20px;
  margin-left: 5%;
}

/*Tela de Serviços*/

.profession-pic{
  background-image: url('/images/Montagem.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 450px;
  max-width: 768px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.box-transparent{
  width: 100vw;
  max-width: 768px;
  height: 60px;
  position: sticky;
  top: 0;
  opacity: .4;
  display: flex;
  align-items: center;
  z-index: 2;
}

.close{
  margin-left: 5%;
}

.close img{
  padding: 10px 0 10px 0;
}

.profession{
  width: 100vw;
  height: 40px;
  max-width: 768px;
  -webkit-box-shadow: 0px 7px 8px 1px rgba(36, 0, 70, 0.58);
  box-shadow: 0px 7px 8px 1px rgba(36, 0, 70, 0.58);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  background-color: #fff;
}

.profession h1{
  text-align: end;
  width: 100%;
  margin: 0 5%;
  font-size: 20px;
  font-weight: 200;
  color: #3C096C;
}

.test{
  width: 100vw;
  height: 5000px;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .contents{
    max-width: 768px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 0 0 0 0;
  }
  .carousel-itens {
    max-width: 768px;
  }
  .search-div{
    max-width: 768px;
  }
  .colaboradoras{
    width: 100%;
    margin: 68px 0 0 0;
  }
  .owl-carousel{
    padding: 10px;
  }
  .colaboradoras h1, .categories h1{
    padding: 10px 10px 0 10px;
  }
  .categories{
    margin: 68px 0 0 0;
    width: 100%;
    position: relative;
  }
  .btn{
    width: 90%;
    position: relative;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
  }
  .bw{
    flex-direction: row;
    margin-top: 50px;
  }
  .como-funciona{
    margin: 68px 0 0 0 ;
  }
  /*Login*/
  .contents-login{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .screen-login{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5%;
  }
  .logo-extenso{
    margin-top: 0;
    margin-right: 0;
    display: block;
    flex: 1;
  }
  .screen-login p {
    display: block;
    color: #fff;
    margin: 20px 0 0 0;
    text-align: start;
    font-size: 20px;
  }
  .box-form{
    flex: 1;
  }
  .form{
    margin-top: 0;
  }
  .title{
    position: relative;
    left: 25%;
    transform: translate(-25%);
  }
  .contents-pedidos{
    max-width: 620px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-left: 0;
    display: flex;
    flex-direction: column;
  } 
  /*perfil cliente*/
  .box-jobs{
    max-width: 768px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-left: 0;
    margin-right: 0;
    }

    /*Slide*/

    .slide{
      margin: 68px 0 0 0;
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }

    /*configuracao*/

    .box-config{
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }

    .btn-config{
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
