* {
  box-sizing: border-box;
}

.bg-pink {
  background-color: #f5e8ff;
  max-width: 540px;
  margin: 0 auto;
}

#bg-purple {
  width: 100vw;
  height: 105vh;
  max-width: 540px;
  margin: 0 auto;
  background: rgb(199, 125, 255);
  background: -moz-linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  background: -webkit-linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  background: linear-gradient(
    to top,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c77dff",endColorstr="#240046",GradientType=1);
}

.bg-purplegradient {
  background: rgb(199, 125, 255);
  background: -moz-linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  background: -webkit-linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  background: linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c77dff",endColorstr="#240046",GradientType=1);
}

.bg-purple {
  background: rgb(199, 125, 255);
  background: -moz-linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  background: -webkit-linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  background: linear-gradient(
    to top,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c77dff",endColorstr="#240046",GradientType=1);
}

.mask {
  background: rgb(199, 125, 255);
  background: -moz-linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  background: -webkit-linear-gradient(
    81deg,
    rgba(199, 125, 255, 1) -4%,
    rgba(157, 78, 221, 1) 11%,
    rgba(123, 44, 191, 1) 26%,
    rgba(90, 24, 154, 1) 55%,
    rgba(60, 9, 108, 1) 75%,
    rgba(36, 0, 70, 1) 105%
  );
  background: linear-gradient(
    to top,
    rgba(199, 125, 255, .1) -4%,
    rgba(157, 78, 221, .1) 11%,
    rgba(123, 44, 191, .2) 26%,
    rgba(90, 24, 154, .3) 55%,
    rgba(60, 9, 108, .4) 75%,
    rgba(36, 0, 70, .6) 105%
  );
  box-shadow: 0px 19px 37px 0px rgba(199, 125, 255, .1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c77dff",endColorstr="#240046",GradientType=1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #240046;
  font-size: 22px;
}

h1.title {
  margin-top: 30px;
  text-align: start;  
  font-size: 20px;
  color: #3c096c;
}

h1.subtitle{
  margin-top: 55px;
  text-align: start;
  font-size: 18px;
  font-weight: 300;
}

p {
  font-size: 16px;
  color: #240046;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 540px;
}

.contents{
  width: 90%;
  margin: 0 auto;
}

/*Components*/

.menu {
  z-index: 100;
  position: fixed;
  bottom: 0;
  max-width: 540px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.fake-menu{
  padding-bottom: 68px;
}
.menu-itens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5% 0 5%;
  padding: 5px 0 10px 0;
}

.navbar,
.wallpaper {
  position: relative;
  max-width: 540px;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 540px;
}

.header-components {
  display: flex;
  align-items: center;
}

.header-components span {
  margin-right: 10px;
}

.header-components img {
  padding: 8px 0 8px 0;
}

.bg-categories{
  background-color: #f9f2ff;
  padding: 50px 0 20px 0;
  margin-top: -50px;
}

.categories {
  width: 90%;
  max-width: 540px;
  background: transparent;
  position: relative;
  margin: 30px auto;
}

.categories h1 {
  text-align: left;
  color: #5A189A;
  font-weight: 300;
}

.categories hr{
  width: 45px;
  background-color: #5A189A;
  border: 1.5px solid #5A189A;
  margin: 0 auto 0 0;
}

.icons-top {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.icons-top a span{
  position: relative;
  top: 25%;
  font-size: 56px;
}

.icons-bottom {
  margin-top: 17px;
  display: flex;
  justify-content: space-around;
}

.icon {
  flex: 1;
  max-width: 160px;
  min-width: 85px;
  text-align: center;
  margin: 2px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn a{
  width: 80%;
  display: flex;
  justify-content: center;
}

/*Home*/

.home-content hr {
  width: 100%;
  max-width: 540px;
  color: #240046;
}

.carousel-inner {
  position: relative;
}

.carousel-itens {
  display: block;
  width: 100vw;
  max-width: 540px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.carousel-indicators {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}

.nav-bottom {
  z-index: 100;
  height: 75px;
  border-radius: 10px 10px 0 0;
}

.search-div {
  display: flex;
  height: 100px;
  width: 100vw;
  max-width: 540px;
  background-color: #f9f2ff;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.search-form {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}

input.search {
  display: block;
  border: 2px solid #3c096c;
  border-radius: 28px;
  background-color: transparent;
  width: 85%;
  height: 40px;
  padding: 0.375rem 0.75rem;
}

input.search::placeholder {
  position: absolute;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #3c096c;
  bottom: 8px;
}

#lupa {
  width: 33px;
  border: none;
  cursor: pointer;
  margin: 8px;
  padding: 0;
  transition: all 0.1s ease-in;
  background-color: transparent;
}

.contributor {
  background-color: #fff;
  box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.3);
  width: 100vw;
  max-width: 540px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto 0 auto;
  padding-top: 30px;
  position: relative;
  left: 0;
}

.owl-stage-outer{
  position: relative;
  left: 0;
}

h1.contributor-text {
  text-align: left;
  font-weight: 300;
  color: #5A189A;
}

.item {
  position: relative;
  width: 100%;
}

.owl-carousel {
  margin: 30px auto;
}

.inf-bw{
  overflow: auto;
}

.inf-bw::-webkit-scrollbar{
  display: none;
}

.bw-specification:focus, .contributor-bw:focus, .client-bw:focus{
  border-bottom: 2px solid #5A189A;
  outline: none;
}

.bw-text:hover{
  border-bottom: 2px solid #5A189A;
}

.bw{
  width: 396px;
  height: 50px;
  display: flex;
  column-gap: 10%;
  align-items: center;
}

.bw-text{
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #5A189A;
  font-weight: 600;
  margin-top: 10px;
}

.bw-about p{
  color: #5A189A;
}

.bw-about{
  display: flex;
  justify-content: space-between;
}

.bw-text img{
  width: 20px;
  height: 20px;
  color: #5A189A;
  margin-right: 2px;
}

.btn-home {
  background-color: transparent;
  color: #000;
  width: 80%;
  max-width: 500px;
  height: 43px;
  border: 3px solid;
  border-color: #240046;
  border-radius: 25px;
  margin-top: 52px;
  font-size: 18px;
}

.btn-home:hover {
  background-color: #240046;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

/*Tela login*/

.logo-extensive {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-extensive img{
  width: 200px;
}

fieldset {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.32);
  border: 0;
  border-radius: 30px;
}

.box-form fieldset {
  width: 90vw;
  max-width: 325px;
}

.form {
  margin-top: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.form form {
  margin: 15px 15px 30px 15px;
  max-width: 300px;
}

.form hr {
  width: auto;
}

.form .title h1 {
  padding-top: 5px;
  padding-left: 15px;
  text-align: start;
  color: white;
  font-weight: 600;
}

.form .email input,
.password input {
  width: 98%;
  height: 35px;
  border-style: solid;
  border-color: #fff;
  border-radius: 30px;
  background: none;
}

input {
  color: #fff;
  padding-left: 12px;
  font-size: 18px;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input:focus-visible {
  outline: none;
}

fieldset form .email {
  padding-top: 25px;
}

fieldset form .password {
  padding-top: 30px;
}

fieldset form .password .link {
  padding-top: 10px;
  padding-left: 10px;
  color: #fff;
  font-size: 12px;
}

fieldset form .password a {
  text-decoration: underline;
  color: #fff;
}

.check {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-top: 15px;
}

.check input {
  margin: 3px;
  width: 20px;
  height: 20px;
}

.check span {
  margin-top: 3px;
  font-size: 14px;
  color: #fff;
  font-weight: 100;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.button button {
  width: 98%;
  height: 35px;
  border-radius: 30px;
  background-color: #3c096c;
  border: none;
  color: white;
  font-size: 18px;
}

.register {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
}

.register a {
  text-decoration: underline;
  color: white;
}

.screen-login p {
  display: none;
}

/*Recuperar Senha*/

.number-tel input {
  width: 98%;
  height: 35px;
  border-style: solid;
  border-color: #fff;
  border-radius: 30px;
  background: none;
  margin-top: 20px;
}

.or {
  font-size: 22px;
  color: #fff;
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
}

/*Cadastre-se*/

.name-cad input {
  width: 98%;
  height: 35px;
  border-style: solid;
  border-color: #fff;
  border-radius: 30px;
  background: none;
  margin-top: 20px;
}

.log-into {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.log-into a {
  text-decoration: underline;
  color: #fff;
}

.screen-login {
  position: relative;
  transform: translate(0, 25%);
}

/*Pedidos de serviços*/

h1.name {
  margin: 40px 0 0 0;
  text-align: start;
}

h2 {
  margin-top: 20px;
  color: #240046;
}

.box {
  box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.3);
  border: none;
  border-radius: 10px;
}

.box-requests-analysis,
.box-requests-recent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0;
  height: 257px;
  padding: 25px 0 25px 0;
}

.box {
  padding: 0px 5%;
  max-width: 400px;
  margin: 50px 5%;
}

.requests {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.box-requests-recent span,
.box-requests-analysis span {
  color: #3c096c;
  font-size: 16px;
}

.contents-box {
  margin: 0 5% 0 5%;
}

/*Perfil Cliente*/

.favorite {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box-jobs {
  margin-top: 100px;
  width: 90vw;
  max-width: 540px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-left: 0;
  margin-right: 0;
}

.jobs-contract {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wallpaper {
  height: 175px;
}

.profile-image img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.slide {
  max-width: 540px;
  height: 113px;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
}

.banner-1,
.banner-2,
.banner-3 {
  display: flex;
}

.banner {
  max-width: 540px;
  width: 34%;
  position: relative;
}

.button-banner {
  display: none;
}

#slide1:checked ~ .banners {
  margin-left: 0;
}

#slide2:checked ~ .banners {
  margin-left: -100%;
}

#slide3:checked ~ .banners {
  margin-left: -200%;
}

.bar:hover {
  background-color: #fff;
}

.banners {
  display: flex;
  width: 300%;
  height: 100%;
  transition: 0.6s;
}

.navigation {
  display: flex;
  justify-content: center;
  position: relative;
  top: -22px;
  left: 50%;
  transform: translate(-50%);
}

.bar {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.banner-bg {
  width: 70%;
  padding: 0 0 0 15px;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banners p,
.banner-bg img {
  font-size: 12px;
  margin-top: 10px;
}

.text-banner {
  display: flex;
}

.banner-bg p,
.banner-bg h1 {
  text-align: start;
  color: white;
}

.banner-bg h1 {
  margin-top: 0;
}

.banner-second-bg {
  width: 30%;
  padding: 20px 0 0 20px;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-third {
  width: 100%;
  height: 113px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.midia-banners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin-top: 5px;
}

.banner-third p,
.banner-third h1 {
  color: white;
}

.first-color {
  background-color: #240046;
}

.second-color {
  background-color: #9d4edd;
}

.third-color {
  background-color: #7b2cbf;
}

/*Menu*/

.input span {
  font-size: 22px;
  color: #240046;
}

.input h1 {
  text-align: start;
  color: #240046;
  font-size: 22px;
}

.redes {
  margin-left: 0;
  margin-top: 30px;
}

.input-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}

.line hr {
  max-width: 90vw;
}

/*Configurações*/

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.box-config {
  background-color: #fff;
  width: 100vw;
  max-width: 540px;
  margin-top: 30px;
}

.box-config form input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #000;
}

.box-config form input:focus {
  outline: 0;
}

.change {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.box-config .contents-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.btn-config {
  background-color: #ffff;
  color: #000;
  width: 100%;
  height: 43px;
  border: 3px solid;
  border-color: #240046;
  border-radius: 25px;
  font-size: 18px;
  max-width: 400px;
  margin-top: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

/*Planos*/

.plan-title{
  font-size: 24px;
}

hr.title{
  border: 1px solid #3c096c;
  width: 45px;
  margin: 0;
}

.service-plans h1 {
  font-size: 24px;
}

.service-plans::-webkit-scrollbar{
  display: none;
}

.box-plans {
  display: flex;
  max-width: 835px;
  width: 300%;
  height: 100%;
  padding: 20px 5px;
  transition: 0.6s;
  margin-top: 30px;
  touch-action: manipulation;
}

.service-plans {
  overflow: auto;
}

.plan {
  max-width: 275px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.5);
  padding: 20px 0;
  margin: 0 10px 10px 5px;
  border: none;
  border-radius: 10px;
  width: 33%;
  position: relative;
}

.plan .value {
  font-size: 64px;
}

.plan span {
  color: #240046;
}

.btn-plan-purple {
  background-color: #ffff;
  color: #000;
  width: 50%;
  height: 35px;
  border-radius: 25px;
  font-size: 18px;
  border: none;
}

.btn-plan {
  background-color: #240046;
  color: #fff;
  width: 50%;
  height: 35px;
  border-radius: 25px;
  font-size: 18px;
  border: none;
}

.btn-plan:hover {
  cursor: pointer;
  transition: 0.6 ease;
  background-color: #3c096c;
}

.btn-plan-purple:hover {
  cursor: pointer;
  transition: 0.6 ease;
  background-color: #240046;
  color: #fff;
}

.white {
  color: white;
}

.white span {
  color: white;
}

.price span.value-components {
  margin-top: 10px;
  font-size: 28px;
}

.price span {
  float: left;
}

.plan-text h1,
.plan-1 p,
.plan-2 p,
.plan-3 p {
  text-align: start;
  margin-top: 20px;
}

/*Tela de Serviços*/

.services hr {
  max-width: 540px;
}

.margin{
  margin-top: 30px;
}

.service-details input{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #000;
  color: #000;
  background: none;
  position: relative;
  margin-top: 30px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 540px;
}

.service-details input::placeholder{
  color: #000;
}

.profession-pic {
  background-image: url("/images/trabalhos/montagem.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 500px;
  max-width: 540px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.box-transparent {
  width: 100vw;
  max-width: 540px;
  height: 60px;
  position: sticky;
  top: 0;
  opacity: 1;
  display: flex;
  align-items: center;
  z-index: 2;
}

.close {
  margin-left: 5%;
  position: absolute;
  z-index: 5;
}

.close span{
  color: #fff;
  font-size: 40px;
  opacity: 1;
}

.profession {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  max-width: 540px;
  -webkit-box-shadow: 0px 7px 8px 1px rgba(36, 0, 70, 0.58);
  box-shadow: 0px 7px 8px 1px rgba(36, 0, 70, 0.58);
  display: flex;
  align-items: center;
  background-color: #fff;
}

.profession h1 {
  text-align: end;
  width: 100%;
  margin: 0 5%;
  font-size: 20px;
  font-weight: 200;
  color: #3c096c;
}

.text {
  margin-top: 20px;
}

.text h1 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.test {
  width: 100vw;
  height: 5000px;
}

.fixed {
  position: sticky;
  top: 0;
  width: 100vw;
  max-width: 540px;
  z-index: 2;
}

.btn-servico {
  background-color: transparent;
  color: #000;
  width: 80%;
  max-width: 400px;
  height: 43px;
  border: 3px solid;
  border-color: #240046;
  border-radius: 25px;
  margin-top: 90px;
  font-size: 18px;
}

.btn-servico:hover {
  background-color: #240046;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

/*Perfil Colaboradora*/

.badges{
  width: 90vw;
  max-width: 540px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 90px;
}

.badge{
  background: #9d4edd;
  color: #3c096c;
  padding: 5px;
  border-radius: 5px;
  min-width: 90px;
  height: 26px;
  text-align: center;
}

.announce-work{
  display: flex;
  width: 100vw;
  max-width: 540px;
  background-color: #F5E8FF;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.announce-work span{
  color: #240046;
  font-weight: 500;
  font-size: 20px;
}

.request-service{
  display: flex;
  width: 100vw;
  max-width: 540px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.request-service span{
  color: #240046;
  font-weight: 500;
  font-size: 20px;
}

.description{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 90vw;
  max-width: 540px;
  margin-top: 20px;
}

.description p{
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 30px;
  color: #000;
}

.description span{
  font-size: 16px;
  font-weight: 600;
}

.redes-profile{
  margin-top: 5px;
}

.redes-profile img{
  max-width: 30px;
}

.box-text{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 90vw;
  max-width: 450px;
}

.text-work{
  font-weight: 300;
  font-size: 24px;
  color: #000;
  text-align: start;
  margin: 5%;
}

.your-work{
  background-image: url("/images/trabalho.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  max-width: 450px;
  height: 500px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.info-work{
  position: relative;
  top: 92%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.info-work span{
  color: #fff;
}

.info-work img{
  margin: 5px;
}

.your-profile {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}
.your-licenses::-webkit-scrollbar{
  display: none;
}

.your-licenses{
  width: 90%;
  max-width: 450px;
  height: 180px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
}

.box-licenses{
  display: flex;
  width: 500px;
  height: 100%;
  transition: 0.6s;
  margin: auto;
  touch-action: manipulation;
  justify-content: space-around;
}

.license{
  height: 150px;
  width: 150px;
  background-color: #3c096c;
  border-radius: 15px;
}

.text-edit{
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-edit img{
  position: relative;
  left: 90%;
}

.text-edit h1{
  text-align: center;
}

.edit{
  background-color: #fff;
  width: 90vw;
  height: 100vh;
}

.edit h1{
  text-align: center;
}

.box-edit{
  display: flex;
  gap: 5px;
}

.edit-work{
  background-color: #5A189A;
  width: 140px;
  height: 202px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
}

.edit-license{
  background-color: #5A189A;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.button-edit{
  background-color: #ffff;
  color: #000;
  width: 100%;
  height: 43px;
  border: 3px solid;
  border-color: #240046;
  border-radius: 25px;
  font-size: 18px;
  max-width: 400px;
  margin-top: 50px;
}

.button-edit:hover{
  cursor: pointer;
  transition: 0.6 ease;
  background-color: #240046;
  color: #fff;
}

/*Perfil Profissional - visão cliente*/

/*Categorias*/

.works {
  flex-wrap: wrap;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  gap: 10px;
  max-width: 540px;
}

.categories-slide{
  width: 100vw;
  max-width: 540px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.works-categories::-webkit-scrollbar{
    display: none;
}

.slide-works{
  width: 100%;
  height: 50px;
  background-color: #5A189A;
}

.works-categories{
  height: 100%;
  align-items: center;
  column-gap: 32px;
  touch-action: manipulation;
  display: flex;
  overflow-x: auto;
}

.slide-tag span{
  display: flex;
  justify-content: center;  
}
.slide-tag{
  margin: 0 15px;
}

span.manutecao-text{
  width: 150px;
}

.slide-tag-work{
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #7b2cbf;
}

.slide-tag:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slide-tag span{
  color: #fff;
}

.work-pic {
  height: 256px;
  width: 100%;
  max-width: 400px;
  margin-top: 50px;
  border-radius: 20px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tag-work {
  position: relative;
  top: 226px;
  height: 53px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  background-color: #f5e8ff;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.1);
}

.tag-work span {
  width: 100%;
  text-align: end;
  margin-right: 10px;
  color: #3c096c;
  font-size: 20px;
}

.construcao a, .montagem a, .manutencao a, .reparos a, .projetos a{
  width: 100%;
  display: flex;
  justify-content: center;
}

.construcao, .montagem, .manutencao, .reparos, .projetos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.obra {
  background-image: url("/images/trabalhos/obra.jpg");
}

.encanamento {
  background-image: url("/images/trabalhos/encanamento.jpg");
}

.marmoria {
  background-image: url("/images/trabalhos/marmoria.jpg");
}

.vidracaria {
  background-image: url("/images/trabalhos/vidracaria.jpg");
}

.arquitetura {
  background-image: url("/images/trabalhos/arquitetura.jpg");
}

.eletricista {
  background-image: url("/images/trabalhos/eletricista.jpg");
}

.mudanca {
  background-image: url("/images/trabalhos/mudanca.jpg");
}

.manutencao-pcs {
  background-image: url("/images/trabalhos/manutencao-pcs.jpg");
}

.sonorizacao {
  background-image: url("/images/trabalhos/sonorizacao.jpg");
}

.antenista {
  background-image: url("/images/trabalhos/antenista.jpg");
}

.pintura-parede {
  background-image: url("/images/trabalhos/pintura-parede.jpg");
}

.montagem-work {
  background-image: url("/images/trabalhos/montagem.jpg");
}

.toldo {
  background-image: url("/images/trabalhos/toldo.jpg");
}

.rede-protecao {
  background-image: url("/images/trabalhos/rede-seguranca.jpg");
}

.seguranca-perimetral {
  background-image: url("/images/trabalhos/seguranca-perimetral.jpg");
}

.manutencao-piscina {
  background-image: url("/images/trabalhos/manutencao-piscina.jpg");
}

.limpeza-pos-obra {
  background-image: url("/images/trabalhos/limpeza-pos-obra.jpg");
}

.solda {
  background-image: url("/images/trabalhos/solda.jpg");
}

.chaveiro {
  background-image: url("/images/trabalhos/chaveiro.jpg");
}

.azulejo {
  background-image: url("/images/trabalhos/manutencao-azulejo.jpg");
}

/*Cadastro Colaboradora*/

.button-certificacao button {
  max-width: 400px;
  height: 35px;
  border-radius: 30px;
  background-color: #3c096c;
  border: none;
  color: white;
  font-size: 18px;
}

.button-certificacao {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

.finish button {
  background: none;
  color: #000;
  border: none;
  font-size: 18px;
  margin-top: 10px;
}

.finish {
  display: flex;
  justify-content: center;
}

/*Add imagem*/

.add{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-pic{
  margin-top: 30px;
}

.anexar-img{
  width: 90vw;
  max-width: 400px;
  height: 40px;
  display: flex;
  position: relative;
  background-color: #240046;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 50%;
}

.anexar-img span{
  color: #fff;
  font-size: 18px;
}

.btn-cad{
  margin-top: 20%;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 540px;
  height: 40px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.inf-cad .anexar-img{
  flex: 1;
}

.inf-cad p{
  flex: 1;
}

/*Capacitação cad*/

.add h1{
  text-align: center;
  font-size: 22px;
}

.input-cad input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  background: transparent;
  width: 90vw;
  max-width: 540px;
  color: #000;
}

.input-cad input::placeholder{
  color: #000;
  font-size: 15px;
}

.input-margin{
  margin-top: 30px;
}

.inf-cad{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 540px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
}

.inf-cad .anexar-img{
  margin: 0;
  position: static;
}

.inf-cad p{
  color: #000;
  font-size: 15px;
  margin-left: 5px;
}

/*Serviços solicitados*/

.box-solicitados{
  padding: 5%;
  margin: 50px 5%;
  max-width: 400px;
  box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.3);
  border: none;
  border-radius: 10px;
}

.services-request h1{
  font-size: 20px;
}

.services-request h2{
  color: #240046;
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 30px;
}

.services-request p{
  margin-top: 10px;
  border: none;
  padding: 0;
  width: 100%;
}

.services-request input::placeholder{
  color: #000;
  font-size: 13px;
}

.btn-requests{
  display: flex;
  margin-top: 15px;
  column-gap: 5px;
}

.btn-services-requests{
  background-color: #ffff;
  color: #000;
  width: 50%;
  height: 35px;
  border: 3px solid;
  border-color: #240046;
  border-radius: 25px;
  font-size: 18px;
  max-width: 400px;
}

.btn-services-requests-purple{
  background-color: #240046;
  border: none;
  color: #fff;
  width: 50%;
  height: 35px;
  border-radius: 25px;
  font-size: 18px;
  max-width: 400px;
}

/*Todas Categorias*/

.categories-line{
  width: 150px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-contents{
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.categories-line img{
  width: 145px;
}

.categories-line span{
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
  color: #240046;
}

/*Favoritos*/

.banner-favorite{
  width: 100%;
  max-width: 540px;
  margin-top: -40px;
}

.banner-favorite img{
  width: 100%;
}

.favorites{
  overflow: auto;
  margin-top: 15px;
}

.favorites::-webkit-scrollbar{
  display: none;
}

.favorite-box{
  display: flex;
  max-width: 600px;
  width: 400%;
  height: 100%;
  transition: 0.6s;
  touch-action: manipulation;
}

.contents-favorite{
  width: 25%;
  height: 150px;
  border-radius: 10px;
  margin: 0 10px 0 0;
  background-color: #240046;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  /*Slide*/

  .slide {
    margin: 68px 0 0 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  /*configuracao*/

  .box-config {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
 /*  __________________________________________________________________ */
  .img-displayed2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 /*   __________________________________________________________________ */
  .btn-config {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
