body{
    width: 100vw;
    height: 100vh;
    background: rgb(199, 125, 255);
    background: -moz-linear-gradient(
        81deg,
        rgba(199, 125, 255, 1) -4%,
        rgba(157, 78, 221, 1) 11%,
        rgba(123, 44, 191, 1) 26%,
        rgba(90, 24, 154, 1) 55%,
        rgba(60, 9, 108, 1) 75%,
        rgba(36, 0, 70, 1) 105%
    );
    background: -webkit-linear-gradient(
        81deg,
        rgba(199, 125, 255, 1) -4%,
        rgba(157, 78, 221, 1) 11%,
        rgba(123, 44, 191, 1) 26%,
        rgba(90, 24, 154, 1) 55%,
        rgba(60, 9, 108, 1) 75%,
        rgba(36, 0, 70, 1) 105%
    );
    background: linear-gradient(
        to top,
        rgba(199, 125, 255, 1) -4%,
        rgba(157, 78, 221, 1) 11%,
        rgba(123, 44, 191, 1) 26%,
        rgba(90, 24, 154, 1) 55%,
        rgba(60, 9, 108, 1) 75%,
        rgba(36, 0, 70, 1) 105%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c77dff",endColorstr="#240046",GradientType=1);
}

.header-return img{
    padding: 8px 0 8px 0;
    margin-left: 10px;
}

.logo-extenso{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset{
    margin-top: 40px;
    width: 85vw;
    height: 365px;
    background: rgba(255, 255, 255, 0.32);
    border: 0;
    border-radius: 30px;
}

fieldset form{
    margin: 15px;
}

fieldset form .titulo{
    padding-top: 5px;
    padding-left: 15px;
    color: white;
    font-size: 26px;
}

fieldset form .email input, .senha input{
    width: 98%;
    height: 35px;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    background: none;
}

input::placeholder{
    color: white;
    padding-left: 10px;
    font-size: 18px;
}

fieldset form .email{
    padding-top: 25px;
}

fieldset form .senha{
    padding-top: 30px;
}

fieldset form .senha .link {
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-size: 12px;
}

fieldset form .senha a{
    text-decoration: underline;
    color: white;
}

.check{
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 15px;
}

.check input{
    margin: 3px;
    width: 20px;
    height: 20px;
}

.check span{
    margin-top: 3px;
    font-size: 14px;
    color: white;
    font-weight: 100;
}

.button-login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.button-login button{
    width: 98%;
    height: 35px;
    border-radius: 30px;
    background-color: #3c096c;
    border: none;
    color: white;
    font-size: 18px;
}

.cadastrar{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 14px;
}

.cadastrar a{
    text-decoration: underline;
    color: white;
}
