.categories-line{
    width: 150px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .categories-contents{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
  }
  
  .categories-line img{
    width: 145px;
  }
  
  .categories-line span{
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    color: #240046;
  }

  hr.title{
    border: 1px solid #3c096c;
    width: 45px;
    margin: 0;
  }
  h1.title {
    margin-top: 30px;
    text-align: start;  
    font-size: 20px;
    color: #3c096c;
  }
  
  h1.subtitle{
    margin-top: 55px;
    text-align: start;
    font-size: 18px;
    font-weight: 300;
  }