<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>By Women - Adicione Foto De Seus Serviços</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/cadastrocolaboradora.css">
</head>

<body>
    <div class="container bg-pink">
        <div class="header-navbar">
            <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components">
                <img src="images/icons/header/returnpurple.svg" alt="voltar">
            </a>
        </div>
        <h1 class="text-center mt-5 fonts-2">Adicionar foto dos <br>seus trabalhos</h1>
        <img class="rounded mx-auto d-block mt-3" src="images/icons/form/servico.svg" alt="">
        <div class="anexar-img mt-4">
            <span>Anexar imagem</span>
        </div>
        <p class="mt-4 fonts-4">Descrição do seu trabalho</p>
        <input class="work-description" type="text">
        <button class="bg-purplegradient">Salvar foto</button>
    </div>
</body>

</html>