<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Projeto</title>
</head>
<body>
    <%- include('./../../components/header/index') %>
    <section class="container">
        <div class="title-works">
            <h1>Serviços de Projetos</h1>
        </div>
        <div class="works">
            <div class="work-pic arquitetura">
                <div class="tag-work">
                    <span>Arquitetura</span>
                </div>
            </div>
            <div class="work-pic eletricista">
                <div class="tag-work">
                    <span>Eletricista</span>
                </div>
            </div>
            <div class="work-pic mudanca">
                <div class="tag-work">
                    <span>Mudança</span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>