<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Construção</title>
</head>
<body>
    <%- include('./../../components/header/index') %>
    <section class="container">
        <div class="title-works">
            <h1>Serviços de construção</h1>
        </div>
        <div class="works">
            <div class="work-pic obra">
                <div class="tag-work">
                    <span>Obras</span>
                </div>
            </div>
            <div class="work-pic encanamento">
                <div class="tag-work">
                    <span>Encanamento</span>
                </div>
            </div>
            <div class="work-pic marmoria">
                <div class="tag-work">
                    <span>Marmoria</span>
                </div>
            </div>
            <div class="work-pic vidracaria">
                <div class="tag-work">
                    <span>Vidraçaria</span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>