<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de ...</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body>
    <header>
        <div class="wallpaper bg-purplegradient">
            <div class="profile navbar">
                <nav class="header-navbar">
                    <div class="header-components">
                        <a href="javascript:void(0)" onClick="history.go(-1); return false;"><img src="images/icons/header/return.svg" alt=""></a>
                    </div>
                    <div class="header-components">
                        <img src="images/icons/header/favoritar.svg" alt="">
                    </div>
                </nav>
                <div class="profile-image">
                    <img src="images/profile/perfil.png" alt="">
                    <!--Nome colaboradora-->
                </div>
            </div>
        </div>
    </header>
    <div class="badges">
        <div class="badge"><span>Pintora</span></div>
        <div class="badge"></div>
        <div class="badge"></div>
        <div class="badge"></div>
        <div class="badge"></div>
    </div>
    <div class="description">
        <hr>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <span>Redes Sociais:</span>
        <div class="redes-profile">
            <img src="images/icons/redes/instagram.svg" alt="">
            <img src="images/icons/redes/facebook.svg" alt="">
            <img src="images/icons/redes/youtube.svg" alt="">
            <img src="images/icons/redes/linkedin.svg" alt="">
        </div>
        <hr>
    </div>
    <section>
        <div class="box-text">
            <h1 class="text-work">Trabalhos</h1>
        </div>
        <div class="your-work">
            <div class="info-work">
                <span>Clique e veja informação do trabalho</span>
                <img src="images/icons/clique.svg" alt="">
            </div>
        </div>
        <div class="box-text">
            <h1 class="text-work">Lincenças e certificados</h1>
        </div>
        <div class="your-licenses">
            <div class="box-licenses">
                <div class="license"></div>
                <div class="license"></div>
                <div class="license"></div>
            </div>
        </div>
        <div class="container">
            <button class="btn-config">Entrar em contato</button>
        </div>
    </section>
</body>
</html>