<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body>
    <%- include("./../../components/header/index.ejs") %>
    <section class="container">
        <h1 class="title">Favoritos</h1>
        <hr class="title">
        <h1 class="subtitle">COLABORADORAS FAVORITAS</h1>
        <div class="favorites">
            <div class="favorite-box">
                <div class="contents-favorite"></div>
                <div class="contents-favorite"></div>
                <div class="contents-favorite"></div>
                <div class="contents-favorite"></div>
            </div>
        </div>
        <h1 class="subtitle">SERVIÇOS FAVORITOS</h1>
        <div class="favorites">
            <div class="favorite-box">
                <div class="contents-favorite"></div>
                <div class="contents-favorite"></div>
                <div class="contents-favorite"></div>
                <div class="contents-favorite"></div>
            </div>
        </div>
        <h1 class="subtitle">PROCURADOS RECENTEMENTE</h1>
        <div class="favorites">
            <div class="favorite-box">
                <div class="contents-favorite"></div>
                <div class="contents-favorite"></div>
                <div class="contents-favorite"></div>
                <div class="contents-favorite"></div>
            </div>
        </div>
    </section>
</body>
</html>