<div class="bg-pink" style="height: 100vh;">
    <div class="container">
        <aside class="line">
            <div class="input">
                <a href="/perfil-colaboradora" class="input-line">
                    <span>Perfil</span>
                    <img src="images/icons/setapurple.svg" alt="">
                </a>
                <hr>
                <a href="/planos" class="input-line">
                    <span>Planos</span>
                    <img src="images/icons/setapurple.svg" alt="">
                </a>
                <hr>
                <a class="input-line" href="/configuracao">
                    <span>Configurações</span>
                    <img src="images/icons/setapurple.svg" alt="">
                </a>
                <hr>
                <a class="input-line">
                    <span>Termos de uso</span>
                    <img src="images/icons/setapurple.svg" alt="">
                </a>

                <hr>
                <a class="input-line">
                    <span>Política de privacidade</span>
                    <img src="images/icons/setapurple.svg" alt="">
                </a>

                <hr>
                <h1 class="text">Siga nos em <br> nossas<br> <strong> redes socais </strong></h1>
                <div class="redes">
                    <img src="images/icons/redes/instagram.svg" alt="">
                    <img src="images/icons/redes/facebook.svg" alt="">
                    <img src="images/icons/redes/youtube.svg" alt="">
                    <img src="images/icons/redes/linkedin.svg" alt="">
                </div>
                <hr style="padding-bottom: 60px; margin: 0;">
            </div>
        </aside>
    </div>
</div>