<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css" />
</head>
<body class="bg-pink">
    <aside>
        <div>
            <div class="header-navbar">
                <div class="header-components">
                    <img src="images/icons/returnpurple.svg" alt="">
                </div>
                <div class="header-components">
                    <span>Que tal logar?</span>
                    <img src="images/icons/login.svg" alt="">
                </div>
            </div>
        </div>
        <div class="input container">
            <div class="input-line">
                <span>Perfil</span>
                <img src="images/icons/setapurple.svg" alt="">
            </div>
            <hr>
            <div class="input-line">
                <span>Pag2</span>
                <img src="images/icons/setapurple.svg" alt="">
            </div>
            <hr>
            <div class="input-line">
                <span>Pag3</span>
                <img src="images/icons/setapurple.svg" alt="">
            </div>
            <hr>
            <div class="input-line">
                <span>Pag4</span>
                <img src="images/icons/setapurple.svg" alt="">
            </div>
            <hr>
            <div class="input-line">
                <span>Pag5</span>
                <img src="images/icons/setapurple.svg" alt="">
            </div>
            <hr>
            <div class="input-line">
                <span>Configurações</span>
                <img src="images/icons/setapurple.svg" alt="">
            </div>
            <hr>
            <h1>Siga nos em <br> nossas<br> <strong> redes socais </strong></h1>
            <div class="redes container">
                <img src="images/icons/instagram.svg" alt="">
                <img src="images/icons/facebook.svg" alt="">
                <img src="images/icons/youtube.svg" alt="">
                <img src="images/icons/linkedin.svg" alt="">
            </div>
            <hr>
        </div>
    </aside>
</body>
</html>
