    <div class="bg-pink">
        <div class="container">
            <aside class="line">
                <div class="input">
                    <a href="/perfil" class="input-line">
                        <span>Perfil</span>
                        <img src="images/icons/setapurple.svg" alt="">
                    </a>
                    <hr>
                    <a href="/planos" class="input-line">
                        <span>Planos</span>
                        <img src="images/icons/setapurple.svg" alt="">
                    </a>
                    <hr>
                    <div class="input-line">
                        <span>Pag3</span>
                        <img src="images/icons/setapurple.svg" alt="">
                    </div>
                    <hr>
                    <div class="input-line">
                        <a href="/configuracao"><span>Configurações</span></a>
                        <a href="/configuracao"></a><img src="images/icons/setapurple.svg" alt=""></a>
                    </div>
                    <hr>
                    <div class="input-line">
                        <a href="/configuracao"><span>Termos de uso</span></a>
                        <img src="images/icons/setapurple.svg" alt="">
                    </div>
                    <hr>
                    <div class="input-line">
                        <span>Política de privacidade</span>
                        <img src="images/icons/setapurple.svg" alt="">
                    </div>
                    <hr>
                    <h1 class="text">Siga nos em <br> nossas<br> <strong> redes socais </strong></h1>
                    <div class="redes">
                        <img src="images/icons/redes/instagram.svg" alt="">
                        <img src="images/icons/redes/facebook.svg" alt="">
                        <img src="images/icons/redes/youtube.svg" alt="">
                        <img src="images/icons/redes/linkedin.svg" alt="">
                    </div>
                    <hr style="padding-bottom: 60px; margin: 0;">
                </div>
            </aside>
        </div>
    </div>