<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Nossos planos</title>
</head>
<body>
    <%- include("./../../components/header/index.ejs") %>
        <h1 class="container">Conheça nossos planos</h1>
    <main class="service-plans">
        <div class="box-plans">
            <div class="plan bg-purple" >
                <h1 class="white">1 semana</h1>
                <div class="price white">
                    <span class="value-components">R$</span>
                    <span class="value">09</span>
                    <span class="value-components">,90</span>
                </div>
                <button class="btn-plan-purple">Saiba mais</button>
            </div>
            <div class="plan">
                <h1>2 semana</h1>
                <div class="price">
                    <span class="value-components">R$</span>
                    <span class="value">17</span>
                    <span class="value-components">,90</span>
                </div>
                <button class="btn-plan">Saiba mais</button>
            </div>
            <div class="plan bg-purple">
                <h1 class="white">1 mês</h1>
                <div class="price white">
                    <span class="value-components">R$</span>
                    <span class="value">32</span>
                    <span class="value-components">,99</span>
                </div>
                <button class="btn-plan-purple">Saiba mais</button>
            </div>
        </div>
    </main>
</body>
</html>