<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Reparo</title>
</head>
<body>
    <%- include('./../../components/header/index') %>
    <section class="container">
        <div class="title-works">
            <h1>Serviços de reparos</h1>
        </div>
        <div class="works">
            <div class="work-pic manutencao-piscina">
                <div class="tag-work">
                    <span>Manutenção de piscina</span>
                </div>
            </div>
            <div class="work-pic limpeza-pos-obra">
                <div class="tag-work">
                    <span>Limpeza pós obra</span>
                </div>
            </div>
            <div class="work-pic solda">
                <div class="tag-work">
                    <span>Solda</span>
                </div>
            </div>
            <div class="work-pic chaveiro">
                <div class="tag-work">
                    <span>Chaveiro</span>
                </div>
            </div>
            <div class="work-pic azulejo">
                <div class="tag-work">
                    <span>Manutenção de azulejo</span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>