<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body>
    <header>
        <div class="wallpaper bg-purplegradient">
                <div class="profile navbar">
                    <nav class="header-navbar">
                        <div class="header-components">
                            <a href="javascript:void(0)" onClick="history.go(-1); return false;"><img src="images/icons/return.svg" alt=""></a>
                        </div>
                        <div>
                            <h1 class="your-profile">Seu perfil</h1>
                        </div>
                        <div class="header-components">
                            <a href="/configuracao"><img src="images/icons/lapis.svg" alt=""></a>
                        </div>
                    </nav>
                </div>
            <div class="profile-image">
                <img src="images/perfil.png" alt="">
                <!--Nome colaboradora-->
            </div>
        </div>
    </header>
</body>
</html>