<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, follow">
    <title>By Women - Histórico dos pedidos aceitos</title>
    <link rel="icon" href="/images/logo/logo-aba.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/pedidos.css" />
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/menu.css">
</head>

<body>
    <%- include("./../../components/header/index.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <section class="container">
            <div class="title mt-5">
                <h1 class="name fonts-3 text-purple-500">Olá, <%= usu_autenticado_nome %>!</h1>
                <h2 class="fonts-3">Pedidos de serviços</h2>
            </div>
            <div class="box">
                <div class="box-requests-recent">
                    <div class="requests">
                        <h1 class="fonts-3">Pedidos Recentes</h1>
                        <img src="images/icons/prancheta.svg" alt="">
                    </div>
                    <div class="">
                        <span>Realizados</span>
                        <!--números de pedidos realizados-->
                    </div>
                    <div class="">
                        <span>Pendentes</span>
                        <!--números de pedidos pendentes-->
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-requests-analysis">
                    <div class="requests">
                        <h1 class="fonts-3">Pedidos a analisar</h1>
                        <img src="images/icons/analise.svg" alt="">
                    </div>
                    <div>
                        <span>Não lidos</span>
                        <!--números de pedidos não lidos-->
                    </div>
                    <div>
                        <span>Todos</span>
                        <!--números de todos pedidos-->
                    </div>
                </div>
            </div>
        </section>
        <div class="fake-menu"></div>
        <%- include("./../../components/menu/index.ejs") %>
</body>

</html>