<header>
  <div class="navbar bg-purplegradient px-2">
    <div class="container">
      <div class="header-navbar">
        <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components"><img src="<%=baseURL%>images/icons/header/return.svg" alt="" /></a>
        <div class="header-components">
          <a href="" class="me-3"><img src="<%=baseURL%>images/icons/header/lupa.svg" alt="" /></a>
          <% if(session.autenticado===true){ %>
          <a href="/perfil">
            <img src="<%=baseURL%>images/icons/header/usuario.svg" alt="">
          </a>
          <% }else if(session.autenticado !== true){ %>
          <a href="/login"><img src="<%=baseURL%>images/icons/header/usuario.svg" alt=""></a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</header>