<header>
  <div class="container bg-purplegradient py-2">
    <div class="header-navbar">
      <a href="javascript:void(0)" onClick="history.go(contador); return false;" class="header-components"><img src="/images/icons/header/return.svg" alt="" /></a>
      <div class="header-components">
        <a href="" class="me-3"><img src="/images/icons/header/lupa.svg" alt="" /></a>
        <% if(session.autenticado===true){ %>
        <a href="/perfil">
          <% if(usu_autenticado_foto===null){ %>
          <img src="/images/icons/header/usuario.svg" alt="">
          <% }else{ %>
          <img src="" alt="">
          <% } %>
        </a>
        <% }else if(session.autenticado !==true){ %>
        <a href="/login"><img src="/images/icons/header/usuario.svg" alt=""></a>
        <% } %>
      </div>
    </div>
  </div>
</header>