<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>By Women - Todos Os Serviços</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="/images/logo/logo-aba.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css" />
</head>

<body class="bg-pink">
  <div class="navbar bg-purplegradient">
    <div class="header-navbar">
      <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components">
        <img src="/images/icons/header/return.svg" alt="" />
      </a>
    </div>
  </div>
  <div class="search-div">
    <form class="search-form">
      <input class="search" type="search" placeholder="O que você precisa?" aria-label="Search" />
      <button type="submit" id="lupa" onclick="alert('Está funcionando');"><img
          src="/images/icons/lupa-pesquisar.svg"></button>
    </form>
  </div>
  <section class="all-services">
    <div class="image-service encanamento">
      <div class="gradient-mask"></div>
    </div>
    <div class="image-service obra column">
      <div class="gradient-mask"></div>
    </div>
    <div class="image-service vidracaria">
      <div class="gradient-mask"></div>
    </div>
    <div class="image-service chaveiro">
      <div class="gradient-mask"></div>
    </div>
  </section>
  <div class="fake-menu"></div>
</body>

</html>