<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Montagem</title>
</head>
<body>
    <%- include('./../../components/header/index') %>
    <section class="container">
        <div class="title-works">
            <h1>Serviços de montagem</h1>
        </div>
        <div class="works">
            <div class="work-pic montagem">
                <div class="tag-work">
                    <span>Montagem</span>
                </div>
            </div>
            <div class="work-pic toldo">
                <div class="tag-work">
                    <span>Toldo e cobertura</span>
                </div>
            </div>
            <div class="work-pic rede-protecao">
                <div class="tag-work">
                    <span>Rede de proteção</span>
                </div>
            </div>
            <div class="work-pic seguranca-perimetral">
                <div class="tag-work">
                    <span>Segurança perimetral</span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>