<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <div>
        <div class="header-navbar">
            <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components">
                <img src="images/icons/header/returnpurple.svg" alt="voltar">
            </a>
            <div class="header-components">
                <a href="/login"><span>Que tal logar?</span></a>
                <a href="/login"><img src="images/icons/login.svg" alt=""></a>
            </div>
        </div>
    </div>
    <%- include('./../../components/menuHamburger/index') %>
</body>
</html>