<aside>
    <div>
        <div class="header-navbar">
            <img src="" alt="">
            <span>Que tal logar?</span>
            <img src="" alt="">
        </div>
    </div>
    <div>
        <span>Perfil</span>
        <img src="" alt="">
    </div>
    <hr>
    <div>
        <span>Pag2</span>
        <img src="" alt="">
    </div>
    <hr>
    <div>
        <span>Pag3</span>
        <img src="" alt="">
    </div>
    <hr>
    <div>
        <span>Pag4</span>
        <img src="" alt="">
    </div>
    <hr>
    <div>
        <span>Pag5</span>
        <img src="" alt="">
    </div>
    <hr>
    <div>
        <span>Configurações</span>
        <img src="" alt="">
    </div>
    <hr>
    <h1>Siga nos em <br> nossas<br> <strong> redes socais </strong></h1>
    <div>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <hr>
</aside>