<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foto perfil</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>

<body class="bg-pink">
    <div>
        <div class="header-navbar">
            <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components">
                <img src="images/icons/returnpurple.svg" alt="voltar">
            </a>
        </div>
    </div>
    <div class="container">
        <div class="add">
            <h1>Adicione uma foto para seu perfil.</h1>
            <img class="add-pic" src="images/fotoadd.svg" alt="perfil">
            <span><!-- nome colaboradora --></span>
            <div class="anexar-img">
                <span>Anexar imagem</span>
            </div>
            <button class="bg-purplegradient btn-cad">Adicionar foto</button>
        </div>
    </div>
</body>
</html>