<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foto perfil</title>
</head>

<body class="bg-pink">
    <div>
        <div class="header-navbar">
            <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components">
                <img src="images/icons/returnpurple.svg" alt="voltar">
            </a>
        </div>
    </div>
    <div class="input container">
        <div class="input-line">
            <h3>Adicione uma foto para seu perfil.</h3>
            <img src="images/icons/perfiladd.jpg" alt="perfil">
            <span><!-- nome colaboradora --></span>
            <div class="container">
            <button>Adicionar Foto</button>
        </div>
        </div>
</body>
</html>