<div class="edit-contents">
    <div class="edit-profile">
        <h1>Editar Perfil</h1>
        <span>X</span>
    </div>
    <hr>
    <div class="img-edit">
        <div>
            <img src="" alt="">
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
    <div class="container-tag-edit">
        <div class="tag-edit"><span>Pintora</span></div>
        <div class="tag-edit"><span>+</span></div>
    </div>
    <hr>
    <div class="biography-edit">
        <label for="">Biografia</label>
        <input type="textarea" placeholder="Fale sobre você"/>
    </div>
    <div class="work-edit">
        <h1>Principais Trabalhos</h1>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <div class="license-edit">
        <h1>Principais Trabalhos</h1>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
    <div>
        <button class="button-edit">Salvar</button>
    </div>
</div>