<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos de serviços</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <header>
        <div class="navbar bg-purplegradient">
            <div class="header-navbar">
              <div class="header-components">
                <img src="/images/icons/return.svg" alt="" />
              </div>
              <div class="header-components">
                <a href=""><img src="/images/icons/lupa.svg" alt="" /></a>
                <a href=""><img src="/images/icons/usuario.svg" alt="" /></a>
              </div>
            </div>  
          </div>
    </header>
    <div class="title container">
        <h1 class="name">Olá,<!-- Nome colaboradora !--></h1>
        <h2>Pedidos de serviços</h2>
    </div>
    <section class="container contents-pedidos"> 
        <div class="box">
            <div class="box1 container">
                <div class="requests">
                    <h1>Pedidos Recentes</h1>
                    <img src="images/icons/prancheta.svg" alt="">
                </div>
                <div class="">
                    <span>Realizados</span>
                    <!--números de pedidos realizados-->
                </div>
                <div class="">
                    <span>Pendentes</span>
                    <!--números de pedidos pendentes-->
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box2 container">
                <div class="requests">       
                        <h1 class="requests">Pedidos a analisar</h1>
                        <img src="images/icons/analise.svg" alt="">
                </div>
                <div>
                    <span>Não lidos</span>
                    <!--números de pedidos não lidos-->
                </div>
                <div>
                    <span>Todos</span>
                    <!--números de todos pedidos-->
                </div>
            </div>
        </div>
    </section>
</body>
</html>