<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecione suas profissões</title>
</head>

<body class="bg-pink">
    <div>
        <div class="header-navbar">
            <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components">
                <img src="images/icons/header/returnpurple.svg" alt="voltar">
            </a>
        </div>
    </div>
    <div class="title">
        <h2>Selecione suas profissões</h2>
    </div>
</body>

</html>