<nav class="menu bg-purplegradient">  
    <div class="menu-itens">
      <a href="/" class=""><img src="images/icons/menu/home.svg" alt=""></a>
      <a href="" class="itens"><img src="images/icons/menu/categorias.svg" alt=""></a>
      <a href="" class="itens"><img src="images/icons/menu/favoritos.svg" alt=""></a>
      <a href="/menu" class="itens"><img src="images/icons/menu/menu-hamburguer.svg" alt=""></a>
    </div>
</nav>