<nav class="menu bg-purplegradient">
    <div class="menu-itens">
      <a href="/" class="col-auto"><img src="images/icons/home.svg" alt=""></a>
      <a href="" class="col-auto"><img src="images/icons/categorias.svg" alt=""></a>
      <a href="" class="col-auto"><img src="images/icons/favoritos.svg" alt=""></a>
      <a href="/menu"><img src="images/icons/menu-hamburguer.svg" alt=""></a>
    </div>
  </nav>