<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style-cad.css" />
</head>
<body>
    <header>
        <div class="header-return">
            <img src="images/icons/return.svg" alt="">
        </div>
    </header>
    <div class="logo-extenso">
        <img src="images/logo-extenso.png" alt="">
    </div>
    <main>
        <fieldset>
            <form action="">
                <div class="titulo">
                    <h1>Login</h1>
                </div>
                <hr>
                <div class="email">
                    <input type="email" placeholder="E-mail">
                </div>
                <div class="senha">
                    <input type="password" placeholder="Senha">
                    <div class="link">
                        <a href="">Esqueci senha</a>
                    </div>
                </div>
                <div class="check">
                    <input type="checkbox">
                    <span>Lembrar de mim</span>
                </div>
                <div class="button-login">
                    <button>Entrar</button>
                </div>
            </form>
        </fieldset>
        <div class="cadastrar">
            <span>Ainda não tem uma conta?<a>Cadastre-se</a></span>
        </div>
    </main>
</body>
</html>