<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />  
</head>
<body id="bg-purple">
    <header class="header-navbar">
        <a href="javascript:void(0)" onClick="history.go(-1); return false;" class="header-components">
            <img src="images/icons/return.svg" alt="">
        </a>
    </header>
    <main class="screen-login contents-login">
        <div class="logo-extensive container">
            <img src="images/logo-extenso.svg" alt="">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="box-form">
            <fieldset class="form">
                <form action="">
                    <div class="title">
                        <h1>Login</h1>
                    </div>
                    <hr>
                    <div class="email">
                        <input type="email" placeholder="E-mail">
                    </div>
                    <div class="password">
                        <input type="password" placeholder="Senha">
                        <div class="link">
                            <a href="/esqueci-senha">Esqueci senha</a>
                        </div>
                    </div>
                    <div class="check">
                        <input type="checkbox">
                        <span>Lembrar de mim</span>
                    </div>
                    <div class="button">
                        <button>Entrar</button>
                    </div>
                </form>
            </fieldset>
            <div class="register">
                <span>Ainda não tem uma conta? <a href="">Cadastre-se</a></span>
            </div>
        </div>
    </main>
</body>
</html>