<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Manutenção elétrica</title>
</head>
<body>
    <%- include('./../../components/header/index') %>
    <section class="container">
        <div class="title-works">
            <h1>Serviços de Manutenção elétrica</h1>
        </div>
        <div class="works">
            <div class="work-pic manutencao-pcs">
                <div class="tag-work">
                    <span>Manutenção de pc's</span>
                </div>
            </div>
            <div class="work-pic sonorizacao">
                <div class="tag-work">
                    <span>Sonorização</span>
                </div>
            </div>
            <div class="work-pic antenista">
                <div class="tag-work">
                    <span>Antenista</span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>